{% extends "layout.html" %}

{% block pageTitle %}
Error: What was the call about?
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/common/opt2/header_keydetail_bar.html" %}
{% endblock %}

{% block footer %}
  {% include "prototype-dev-baseline/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "prototype-dev-baseline/common/phase-banner.html" %}  
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#nextPaymentDate-esa">Select what the contact was about for Employment and Support Allowance</a>
            </li>
            <li>
              <a href="#nextPaymentDate">Select what the contact was about for Personal Independence Payment</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <span class="govuk-caption-l">Step 2 of 3</span>
    <h1 class="govuk-heading-l">What was the contact about?</h1>
    <form action="added-call-details" method="post" novalidate>
    <!-- for ESA -->
    <div class="govuk-form-group govuk-form-group--error">
      <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading govuk-heading-m">
            Employment and Support Allowance
          </h2>
        </legend>
        <p id="nationality-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Select what the contact was about for Employment and Support Allowance
        </p>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nextPaymentDate-esa" name="questionAsk-esa" type="checkbox" value="Next payment date" {{ checked ('questionAsk-esa', 'Next payment date') }}>
            <label class="govuk-label govuk-checkboxes__label" for="nextPaymentDate-esa">
              Next payment date
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nextPaymentAmount" name="questionAsk-esa" type="checkbox" value="Next payment amount" {{ checked ('questionAsk-esa', 'Next payment amount') }}>
            <label class="govuk-label govuk-checkboxes__label" for="nextPaymentAmount">
              Next payment amount
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="missingPayment" name="questionAsk-esa" type="checkbox" value="Missing payment" {{ checked ('questionAsk-esa', 'Missing payment') }}>
            <label class="govuk-label govuk-checkboxes__label" for="missingPayment">
              Missing payment
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="reasonForChange" name="questionAsk-esa" type="checkbox" value="Change in payment amount" {{ checked ('questionAsk-esa', 'Change in payment amount') }}>
            <label class="govuk-label govuk-checkboxes__label" for="reasonForChange">
              Change in payment amount
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="otherQ" name="questionAsk-esa" type="checkbox" value="Other questions" {{ checked ('questionAsk-esa', 'Other questions') }}>
            <label class="govuk-label govuk-checkboxes__label" for="otherQ">
              Something else
            </label>
          </div>
          <!-- <div class="govuk-checkboxes__divider">or</div> -->
          <!-- <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="somethingElse" name="questionAsk-esa" type="checkbox" value="Something else" data-behaviour="exclusive" {{ checked ('questionAsk-esa_esa', 'Something else') }}>
            <label class="govuk-label govuk-checkboxes__label" for="somethingElse">
              Something else
            </label>
          </div> -->
        </div>
      </fieldset>
    </div>
    <!-- for PIP -->
    <div class="govuk-form-group govuk-form-group--error">
      <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading govuk-heading-m">
            Personal Independence Payment
          </h1>
        </legend>
        <p id="nationality-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Select what the contact was about for Personal Independence Payment
        </p>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nextPaymentDate" name="questionAsk-pip" type="checkbox" value="Next payment date" {{ checked ('questionAsk-pip', 'Next payment date') }}>
            <label class="govuk-label govuk-checkboxes__label" for="nextPaymentDate">
              Next payment date
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nextPaymentAmount" name="questionAsk-pip" type="checkbox" value="Next payment amount" {{ checked ('questionAsk-pip', 'Next payment amount') }}>
            <label class="govuk-label govuk-checkboxes__label" for="nextPaymentAmount">
              Next payment amount
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="missingPayment" name="questionAsk-pip" type="checkbox" value="Missing payment" {{ checked ('questionAsk-pip', 'Missing payment') }}>
            <label class="govuk-label govuk-checkboxes__label" for="missingPayment">
              Missing payment
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="reasonForChange" name="questionAsk-pip" type="checkbox" value="Change in payment amount" {{ checked ('questionAsk-pip', 'Change in payment amount') }}>
            <label class="govuk-label govuk-checkboxes__label" for="reasonForChange">
              Change in payment amount
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="otherQ" name="questionAsk-pip" type="checkbox" value="Other questions" {{ checked ('questionAsk-pip', 'Other questions') }}>
            <label class="govuk-label govuk-checkboxes__label" for="otherQ">
              Something else
            </label>
          </div>
          <!-- <div class="govuk-checkboxes__divider">or</div> -->
          <!-- <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="somethingElse" name="questionAsk-pip" type="checkbox" value="Something else" data-behaviour="exclusive" {{ checked ('questionAsk-pip_esa', 'Something else') }}>
            <label class="govuk-label govuk-checkboxes__label" for="somethingElse">
              Something else
            </label>
          </div> -->
        </div>
      </fieldset>
    </div>
    <!-- add a note -->
    <div class="govuk-form-group govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="5000">
      <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="with-hint">
          Add a note (optional)
        </label>
      </h2>
      <p class="govuk-body">Add a note to give details of:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>what the contact was about if you have not logged it already</li>
        <li>who the contact was with if it was not with the claimant or a known representative</li>
      </ul>
      <!-- <div id="with-hint-hint" class="govuk-hint">
        You will be able to change this information later.
      </div> -->
      <textarea class="govuk-textarea govuk-js-character-count govuk-!-margin-bottom-3" id="with-hint" name="addNote" rows="7" aria-describedby="with-hint-info with-hint-hint">{{ data['addNote'] }}</textarea>
      <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
        You have 5000 characters remaining
      </div>
    </div>
    <button class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
  </form>
  </div>
</div>

{% endblock %}
