{% extends "layout.html" %}

{% block pageTitle %}
  User reserach prototype:UR7
{% endblock %}

{% block beforeContent %}
  <!-- {% include "extra-scenarios/error-handling/common/phase-banner.html" %} -->
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Archive prototype</span>
      <h1 class="govuk-heading-l">Filter</h1>
      <div class="govuk-!-padding-bottom-3"><strong class="govuk-tag">Completed</strong></div>
      <p class="govuk-body">UR Round 2 ESA Customer Service Advisors Interviews and Usability Testing. There was greater focus on the payment amount and date query journey in this round</p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-!-padding-6" style="background-color:#f3f2f1; border-radius:10px;">
            <h2 class="govuk-heading-m">Filter on contact history</h2>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <div class="govuk-!-margin-top-4">
              <a href="contact-history#view-contact-history" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="govuk-!-padding-6" style="background-color:#f3f2f1; border-radius:10px;">
            <h2 class="govuk-heading-m">Filter on payment history</h2>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <div class="govuk-!-margin-top-4">
              <a href="payment-and-awards#payment-history" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>


{% endblock %}
