{% extends "layout.html" %}

{% block pageTitle %}
  Display error message - prototype
{% endblock %}


{% block header %}
  {% include "extra-scenarios/error-handling/common/header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "extra-scenarios/error-handling/common/phase-banner.html" %}
  <a class="govuk-back-link" href="../index">Back</a>
{% endblock %}

{% block footer %}
  {% include "extra-scenarios/error-handling/common/footer.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Tech-error</span>
    <h1 class="govuk-heading-l">No data available (API successful)</h1>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">APIs-no data held </th>
          <th scope="col" class="govuk-table__header">Screens</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <!-- new rows added -->
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">If no data held in Nationality/Residency/SAA/Citizen Preferences/Correspondence</td>
          <td class="govuk-table__cell">Personal details</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="no-data-held/personal-details-no-data-held.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">If no data held in SAS API</td>
          <td class="govuk-table__cell">Next payments</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="data-not-available-5#next-payments" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">If no data held in AME payments service</td>
          <td class="govuk-table__cell">Next payments</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="no-data-held/data-not-available-1" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">If no data held in AME</td>
          <td class="govuk-table__cell">Payment history</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="no-data-held/data-not-available-6#history" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">When SAS are unavailable</td>
          <td class="govuk-table__cell">Benefit details</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="no-data-held/data-not-available-5#award-breakdown" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">When there is no data held on our contact history database / No data held in JSAPS. </td>
          <td class="govuk-table__cell">Contact history</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="data-not-available-4#view" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
