{% extends "layout.html" %}

{% block pageTitle %}
  What did you discussed with the caller?
{% endblock %}

{% block header %}
  {% include "extra-scenarios/error-handling/common/opt1/header_keydetail_bar.html" %}
{% endblock %}

{% block footer %}
  {% include "extra-scenarios/error-handling/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
{% include "extra-scenarios/error-handling/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="unHappy_summary_CallLogged" method="post" novalidate>
          <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
              <h2 class="govuk-error-summary__title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#addNote">The more information you add about this call must be 500 characters or less</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govuk-form-group govuk-form-group--error">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="addNote">
                Add more information about this call
              </label>
              <div id="more-detail-hint" class="govuk-hint">
                You will be able to change this information later.
              </div>
              <p id="more-detail-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> The more information you add about this call must be 500 characters or less
              </p>
            </h1>
            <textarea class="govuk-textarea govuk-!-margin-bottom-3" id="addNote" name="addNote" value="{{addNote}}" rows="5" aria-describedby="more-detail-hint"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</textarea>
            <div class="govuk-hint">
              You have 500 characters remaining
            </div>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>

      </div>
    </div>

{% endblock %}
