{% extends "layout.html" %}

{% block pageTitle %}
Contact history
{% endblock %}

{% block header %}
  {% include "sprint23/common/opt1/header-navigation_contactHistory-active.html" %}
    {% include "sprint23/common/opt1/keydetail-bar.html" %}
{% endblock %}


{% block footer %}
  {% include "sprint23/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "prototype-sprint-wise/sprint23/common/phase-banner--user-research.html" %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="home-page.html">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">Contact history</a>
  </li>
</ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Contact history</h1>
    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <!-- Tab button here -->
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#add-to-contact-history">
              Add to contact history
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#view-contact-history">
              View contact history
            </a>
          </li>
        </ul>
        <!-- Tab1 content start here -->
        <div class="govuk-tabs__panel" id="add-to-contact-history">
          <h2 class="govuk-heading-l">Add to contact history</h2>
          <form action="engagement-log-journey/what-service-called-about" method="post" novalidate>
              <button class="govuk-button" data-module="govuk-button">
                Add to contact history
              </button>
          </form>
          <div class="govuk-!-margin-top-5">
            <h3 class="govuk-heading-s">
              You have added this information to the contact history during this call.
            </h3>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <!-- <th scope="col" class="govuk-table__header">Date</th> -->
                  <!-- <th scope="col" class="govuk-table__header">Interaction Type</th> -->
                  <th scope="col" class="govuk-table__header ">Benefit</th>
                  <th scope="col" class="govuk-table__header">Enquiry Type</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Notes</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                  <th scope="col" class="govuk-table__header">Action</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <!-- <td class="govuk-table__cell">14 April 2023</td> -->
                  <!-- <td class="govuk-table__cell">Incoming telephone call</td> -->
                  <td class="govuk-table__cell">Employment and Support Allowance</td>
                  <td class="govuk-table__cell">Next payment date</td>
                  <td class="govuk-table__cell govuk-!-width-one-quarter">--</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Resolved</strong></td>
                  <td class="govuk-table__cell"><a href="contact-history-detail.html" class="govuk-link">Edit note</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <!-- <td class="govuk-table__cell">14 April 2023</td> -->
                  <!-- <td class="govuk-table__cell">Incoming telephone call</td> -->
                  <td class="govuk-table__cell">Employment and Support Allowance</td>
                  <td class="govuk-table__cell">Next payment amount</td>
                  <td class="govuk-table__cell govuk-!-width-one-quarter">This is an example of what more information could look like...</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Resolved</strong></td>
                  <td class="govuk-table__cell"><a href="contact-history-detail.html" class="govuk-link">Edit note</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Tab2 content start here -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="view-contact-history">
          <h2 class="govuk-heading-l">Contact history</h2>
          <!-- Filter section start here -->
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="show-filter-btn" onclick="showFilter()">
            Show filter
          </button>

          <!-- Filter section display benefit options -->
          <div class="govuk-visually-hidden" id="filter-section">
            <div class="govuk-form-group govuk-!-margin-bottom-3">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">
                    Filter by benefit
                  </h2>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter-1" name="select-Benefit-to-filter" type="checkbox" value="Employment and Support Allowance (ESA)" {{ checked("select-Benefit-to-filter", "Employment and Support Allowance (ESA)") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="filter-1">
                      Employment and Support Allowance (ESA)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter-2" name="select-Benefit-to-filter" type="checkbox" value="Jobseeker's Allowance (JSA)" {{ checked("select-Benefit-to-filter", "Jobseeker's Allowance (JSA)") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="filter-2">
                      Jobseeker's Allowance (JSA)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter-3" name="select-Benefit-to-filter" type="checkbox" value="Personal Independence Payment (PIP)" {{ checked("select-Benefit-to-filter", "Personal Independence Payment (PIP)") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="filter-3">
                      Personal Independence Payment (PIP)
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button" id="apply-filter-btn" onclick="applyFilter()">
                Apply filter
              </button>
              <a class="govuk-link" href="#" id="cancel-filter-link" onclick="cancelFilter()">Cancel</a>
            </div>
          </div>

         <!-- data table -->
         <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header">Interaction Type</th>
              <th scope="col" class="govuk-table__header ">Benefit</th>
              <th scope="col" class="govuk-table__header">Enquiry Type</th>
              <th scope="col" class="govuk-table__header ">Notes</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">14 April 2023</td>
              <td class="govuk-table__cell">Incoming telephone call</td>
              <td class="govuk-table__cell">Employment and Support Allowance</td>
              <td class="govuk-table__cell">Next Payment Date</td>
              <td class="govuk-table__cell">Note explaining that the payment is believed to be updated. Customer has recently...</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Resolved</strong></td>
              <td class="govuk-table__cell"><a href="contact-history-detail.html" class="govuk-link">View</a></td>
            </tr>
          </tbody>
        </table>
         <!-- table pagination -->
        <nav class="moj-pagination" aria-label="Pagination navigation">
          <ul class="moj-pagination__list govuk-visually-hidden">
           <li class="moj-pagination__item  moj-pagination__item--prev">
             <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
           </li>
  
           <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1" aria-label="Page 1 of 30">1</a></li>
  
           <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 2 of 30" aria-current="page">2</li>
  
           <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 30">3</a></li>
  
           <li class="moj-pagination__item moj-pagination__item--dots">…</li>
  
           <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5" aria-label="Page 5 of 30">5</a></li>
  
           <li class="moj-pagination__item  moj-pagination__item--next">
             <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
           </li>
         </ul>
          <p class="moj-pagination__results">Showing <b>01</b> to <b>01</b> of <b>01</b> page</p>
        </nav>

        </div>
    </div>
  </div>
</div>


  <!-- logic for filter function -->

  <script type="text/javascript">
    function showFilter() {
      // document.getElementById("demo").innerHTML = "Hello World";
      // alert("Hello world");
      var link = document.getElementById('filter-section');
      var link2 = document.getElementById('show-filter-btn');
      var esaTable = document.getElementById('table-ESA');
      // alert("Hello world",link.className);
      // link.style.display = 'block'; 
      link.classList.remove("govuk-visually-hidden");
      link2.classList.add("govuk-visually-hidden");
      esaTable.classList.add("govuk-visually-hidden");
    }

    function cancelFilter() {
      var link = document.getElementById('filter-section');
      var link2 = document.getElementById('show-filter-btn');
      // var link4 = document.getElementById('apply-filter-btn');
      link.classList.add("govuk-visually-hidden");
      link2.classList.remove("govuk-visually-hidden");
    }

    function applyFilter() {

      var link3 = document.getElementById('filter-selected');
      // var link4 = document.getElementById('apply-filter-btn');
      var link2 = document.getElementById('show-filter-btn');
      var link5 = document.getElementById('filter-section'); 
      var tableDefault = document.getElementById('default-table')
      var esaTable = document.getElementById('table-ESA');
      link3.classList.remove("govuk-visually-hidden");
      link2.classList.remove("govuk-visually-hidden");
      // link4.classList.add("govuk-visually-hidden");
      link5.classList.add("govuk-visually-hidden");
      tableDefault.classList.add("govuk-visually-hidden");
      esaTable.classList.remove("govuk-visually-hidden");
    }

    function clearFilter() {
      var link3 = document.getElementById('filter-selected');
      var esaTable = document.getElementById('table-ESA');
      var tableDefault = document.getElementById('default-table')
      // var link4 = document.getElementById('apply-filter-btn');
      link3.classList.add("govuk-visually-hidden");
      tableDefault.classList.remove("govuk-visually-hidden");
      esaTable.classList.add("govuk-visually-hidden");
      link.classList.remove("govuk-visually-hidden");
      
    }

    var nowDate = new Date(); 
    var date = nowDate.getFullYear()+'/'+(nowDate.getMonth()+1)+'/'+nowDate.getDate();
    
    
    </script>

{% endblock %}
