/* ==========================================================================
   #FILTER
   ========================================================================== */
   .app-c-filter-panel {
    padding-top:15px
}

.app-c-filter-panel__content {
    background-color: #f3f2f1;
    padding: 0 5px 0 0;
    // margin-top: 10px;
    margin-bottom:15px
}

.app-c-filter-panel__content .govuk-checkboxes__label::before, .app-c-filter-panel__content .govuk-radios__label::before {
    background-color:#fff
}

.app-c-filter-panel__header {
    display: flex;
    flex-wrap: wrap;
    place-content: space-between;
    align-items: baseline;
    gap:10px
}

.app-c-filter-panel__count {
    margin: 0;
    color: #505a5f;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height:1.25
}

@media print {
    .app-c-filter-panel__count {
        font-family:sans-serif
    }
}

@media print {
    .app-c-filter-panel__count {
        font-size: 14pt;
        line-height:1.2
    }
}

.app-c-filter-panel__button {
    background-color: rgba(0, 0, 0, 0);
    color: #1d70b8;
    text-decoration: none;
    border-style: none;
    padding-left: 0;
    cursor: pointer;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height:1.3157894737
}

.app-c-filter-panel__button::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: "";
    display: inline-block;
    height: 10px;
    left: 5px;
    position: relative;
    vertical-align: middle;
    width: 10px;
    border-color: initial;
    clip-path: unset;
    -webkit-transform: translateY(-25%) rotate(135deg) scale(1);
    -ms-transform: translateY(-25%) rotate(135deg) scale(1);
    transform:translateY(-25%) rotate(135deg) scale(1)
}

@media print {
    .app-c-filter-panel__button {
        font-family:sans-serif
    }
}

@media print {
    .app-c-filter-panel__button {
        font-size: 14pt;
        line-height:1.15
    }
}

.app-c-filter-panel__button[aria-expanded=true]::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: "";
    display: inline-block;
    height: 10px;
    left: 5px;
    position: relative;
    vertical-align: middle;
    width: 10px;
    border-color: initial;
    clip-path: unset;
    -webkit-transform: translateY(-25%) rotate(135deg) scale(1);
    -ms-transform: translateY(-25%) rotate(135deg) scale(1);
    transform: translateY(-25%) rotate(135deg) scale(1);
    -webkit-transform: translateY(30%) rotate(-45deg) scale(1);
    -ms-transform: translateY(30%) rotate(-45deg) scale(1);
    transform:translateY(30%) rotate(-45deg) scale(1)
}

.app-c-filter-panel__button:hover .app-c-filter-panel__button-inner {
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: .1578em;
    text-decoration-thickness: max(3px, .1875rem, .12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip:none
}

.app-c-filter-panel__button:focus, .app-c-filter-panel__button:focus-visible {
    text-decoration: none;
    background-color: #fd0;
    text-decoration-thickness: max(3px, .1875rem, .12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
    outline: 3px solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break:clone
}

.app-c-filter-panel__button:focus .app-c-filter-panel__button-inner, .app-c-filter-panel__button:focus-visible .app-c-filter-panel__button-inner {
    text-decoration:none
}

.app-c-filter-panel__button::before {
    margin:0 10px 5px 0
}

.app-c-filter-panel__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding:20px 0
}

.app-c-filter-panel__action--submit {
    flex: 2 0 60%;
    margin-bottom:0
}

.app-c-filter-panel__action--reset {
    flex: 1 0 30%;
    white-space: nowrap;
    padding: 5px 0;
    text-align: center;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height:1.3157894737
}

@media print {
    .app-c-filter-panel__action--reset {
        font-family:sans-serif
    }
}

@media print {
    .app-c-filter-panel__action--reset {
        font-size: 14pt;
        line-height: 1.15
    }
}

   
   .app-c-filter-section {
    border-bottom:1px solid #b1b4b6
}

.app-c-filter-section:last-child {
    // border-bottom: 0;
    // margin-bottom: 0;
    // padding-bottom:0
}

.app-c-filter-section:first-child {
    margin-top:0
}

.app-c-filter-section[open] .app-c-filter-section__summary::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: "";
    display: inline-block;
    height: 10px;
    left: 5px;
    position: relative;
    vertical-align: middle;
    width: 10px;
    border-color: initial;
    clip-path: unset;
    -webkit-transform: translateY(-25%) rotate(135deg) scale(1);
    -ms-transform: translateY(-25%) rotate(135deg) scale(1);
    transform: translateY(-25%) rotate(135deg) scale(1);
    -webkit-transform: translateY(30%) rotate(-45deg) scale(1);
    -ms-transform: translateY(30%) rotate(-45deg) scale(1);
    transform:translateY(30%) rotate(-45deg) scale(1)
}

.app-c-filter-section__summary {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: #0b0c0c;
    list-style: none;
    padding:5px 0
}

.app-c-filter-section__summary::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: "";
    display: inline-block;
    height: 10px;
    left: 5px;
    position: relative;
    vertical-align: middle;
    width: 10px;
    border-color: initial;
    clip-path: unset;
    -webkit-transform: translateY(-25%) rotate(135deg) scale(1);
    -ms-transform: translateY(-25%) rotate(135deg) scale(1);
    transform:translateY(-25%) rotate(135deg) scale(1)
}

.app-c-filter-section__summary::marker, .app-c-filter-section__summary::-webkit-details-marker {
    display:none
}

.app-c-filter-section__summary:hover .app-c-filter-section__summary-heading {
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: .1578em;
    text-decoration-thickness: max(3px, .1875rem, .12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip:none
}

.app-c-filter-section__summary:focus .app-c-filter-section__summary-heading {
    background-color: #fd0;
    outline: 3px solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break:clone
}

.app-c-filter-section__summary:focus-visible {
    outline:none
}

.app-c-filter-section__summary-heading {
    margin-left: 15px;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height:1.3157894737
}

@media print {
    .app-c-filter-section__summary-heading {
        font-family:sans-serif
    }
}

@media print {
    .app-c-filter-section__summary-heading {
        font-size: 14pt;
        line-height:1.15
    }
}

.app-c-filter-section__summary-status {
    padding-right: 5px;
    flex-grow: 1;
    text-align: right;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height:1.25
}

@media print {
    .app-c-filter-section__summary-status {
        font-family:sans-serif
    }
}

@media print {
    .app-c-filter-section__summary-status {
        font-size: 14pt;
        line-height: 1.2
    }
}


.app-c-filter-summary {
  margin-top: 10px;
  padding-bottom: 5px;
  border-top:1px solid #b1b4b6
}

.app-c-filter-summary__heading {
  margin-bottom: 10px;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height:1.3157894737
}

@media print {
  .app-c-filter-summary__heading {
      font-family:sans-serif
  }
}

@media print {
  .app-c-filter-summary__heading {
      font-size: 14pt;
      line-height:1.15
  }
}

.app-c-filter-summary__remove-filters {
  list-style-type: none;
  margin-block-start: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap:10px
}

.app-c-filter-summary__remove-filter {
  border: 1px solid #b1b4b6;
  border-radius: .3125em;
  padding: 5px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #0b0c0c;
  background-color: #f3f2f1;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height:1.3157894737
}

@media print {
  .app-c-filter-summary__remove-filter {
      font-family:sans-serif
  }
}

@media print {
  .app-c-filter-summary__remove-filter {
      font-size: 14pt;
      line-height:1.15
  }
}

.app-c-filter-summary__remove-filter:focus {
  background-color: #fd0;
  outline: 2px #0b0c0c solid;
  outline-offset: 0;
  border-color:#0b0c0c
}

.app-c-filter-summary__remove-filter:hover {
  outline: 1px #0b0c0c solid;
  outline-offset: 0;
  border-color:#0b0c0c
}

.app-c-filter-summary__remove-filter::before {
  margin-top: 1px;
  content: "×";
  padding-right: 5px;
  font-size:22px
}

.app-c-filter-summary__clear-filters {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height:1.3157894737
}

@media print {
  .app-c-filter-summary__clear-filters {
      font-family:sans-serif
  }
}

@media print {
  .app-c-filter-summary__clear-filters {
      font-size: 14pt;
      line-height: 1.15
  }
}

  