{% extends "layout.html" %}

{% block pageTitle %}
  You have added information about this call
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/ur-8/common/opt2/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You have added details about this call</h1>
        <!-- <h2 class="govuk-heading-m">Reasons for this call</h2> -->
        {% set benefits =  data['whichBenefitDiscussed'] %}
        {% set questions = data['questionAsk']%}
        {% set questionCA = data['questionAsk-ca'] %}
        {% set questionESA = data['questionAsk-esa'] %}
        {% set questionPIP = data['questionAsk-pip'] %}
        {% set benefits =  data['whichBenefitDiscussed'] %}
        {% set benefitLength =  data['whichBenefitDiscussed'] | length %}
        
        {% if benefitLength >1 %}
        
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header ">Benefits</th>
              <th scope="col" class="govuk-table__header">Question asked</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Outcome</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {%for benefit in benefits %}
            {%if benefit == "Employment and Support Allowance" %}
            {%for question in questionESA %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{benefit}}</th>
              <td class="govuk-table__cell">{{question}}</td>
              <td class="govuk-table__cell">
               {%if question == "Next payment date" %}
                {% if data['npd_wasQuestionResolved-esa'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {% elif data['npd_wasQuestionResolved-esa'] == 'Not resolved' %}
                <stong class="govuk-tag govuk-tag--grey">Not resolved</strong>
                {%elif data['npd_wasQuestionResolved-esa'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {% endif %}
                {%endif%}

                {%if question == "Next payment amount" %}
                {% if data['npa_wasQuestionResolved-esa'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {%elif data['npa_wasQuestionResolved-esa'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {% elif data['npa_wasQuestionResolved-esa'] == 'Not resolved' %}
                    <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                {% endif %}
                {%endif%}

                {%if question == "Missing payment" %}
                {% if data['ma_wasQuestionResolved'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {%elif data['ma_wasQuestionResolved'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {% elif data['ma_wasQuestionResolved'] == 'Not resolved' %}
                    <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                {% endif %}
                {%endif%}

                {%if question == "Change in payment amount" %}
                {% if data['chpa_wasQuestionResolved'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {%elif data['chpa_wasQuestionResolved'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {% elif data['chpa_wasQuestionResolved'] == 'Not resolved' %}
                    <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                {% endif %}
                {%endif%}

                {%if question == "Other questions" %}
                {%if data['othQ_wasQuestionResolved'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {%elif data['othQ_wasQuestionResolved'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {%elif data['othQ_wasQuestionResolved'] == 'Not resolved' %}
                    <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                {% endif %}
                {%endif%}
              </td>
            </tr>
            {%endfor%}
            {%endif%}

            {%if benefit == "Personal Independence Payment" %}
            {%for question in questionPIP %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{benefit}}</th>
              <td class="govuk-table__cell">{{question}}</td>
              <td class="govuk-table__cell">
               {%if question == "Next payment date" %}
                {% if data['npd_wasQuestionResolved-pip'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {% elif data['npd_wasQuestionResolved-pip'] == 'Not resolved' %}
                <stong class="govuk-tag govuk-tag--grey">Not resolved</strong>
                {%elif data['npd_wasQuestionResolved-pip'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {% endif %}
                {%endif%}

                {%if question == "Next payment amount" %}
                {% if data['npa_wasQuestionResolved-pip'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {%elif data['npa_wasQuestionResolved-pip'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {% elif data['npa_wasQuestionResolved-pip'] == 'Not resolved' %}
                    <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                {% endif %}
                {%endif%}

                {%if question == "Missing payment" %}
                {% if data['ma_wasQuestionResolved'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {%elif data['ma_wasQuestionResolved'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {% elif data['ma_wasQuestionResolved'] == 'Not resolved' %}
                    <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                {% endif %}
                {%endif%}

                {%if question == "Change in payment amount" %}
                {% if data['chpa_wasQuestionResolved'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {%elif data['chpa_wasQuestionResolved'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {% elif data['chpa_wasQuestionResolved'] == 'Not resolved' %}
                    <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                {% endif %}
                {%endif%}

                {%if question == "Other questions" %}
                {%if data['othQ_wasQuestionResolved'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {%elif data['othQ_wasQuestionResolved'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {%elif data['othQ_wasQuestionResolved'] == 'Not resolved' %}
                    <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                {% endif %}
                {%endif%}
              </td>
            </tr>
            {%endfor%}
            {%endif%}

            <!-- {%if benefit == "Personal Independence Payment" %}
            {%for question in questionPIP %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{benefit}}</th>
              <td class="govuk-table__cell">{{question}}</td>
              <td class="govuk-table__cell">
               {%if question == "Next payment date" %}
                {% if data['npd_wasQuestionResolved'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {% elif data['npd_wasQuestionResolved'] == 'Not resolved' %}
                <stong class="govuk-tag govuk-tag--grey">Not resolved</strong>
                {%elif data['npd_wasQuestionResolved'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {% endif %}
                {%endif%}

                {%if question == "Next payment amount" %}
                {% if data['npa_wasQuestionResolved'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {%elif data['npa_wasQuestionResolved'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {% elif data['npa_wasQuestionResolved'] == 'Not resolved' %}
                    <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                {% endif %}
                {%endif%}

                {%if question == "Missing payment" %}
                {% if data['ma_wasQuestionResolved'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {%elif data['ma_wasQuestionResolved'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {% elif data['ma_wasQuestionResolved'] == 'Not resolved' %}
                    <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                {% endif %}
                {%endif%}

                {%if question == "Change in payment amount" %}
                {% if data['chpa_wasQuestionResolved'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {%elif data['chpa_wasQuestionResolved'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {% elif data['chpa_wasQuestionResolved'] == 'Not resolved' %}
                    <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                {% endif %}
                {%endif%}

                {%if question == "Other questions" %}
                {%if data['othQ_wasQuestionResolved'] == 'Resolved' %}
                <stong class="govuk-tag">Resolved</strong>
                {%elif data['othQ_wasQuestionResolved'] == 'Does not apply'%}
                <span class="govuk-body">Does not apply</span>
                {%elif data['othQ_wasQuestionResolved'] == 'Not resolved' %}
                    <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                {% endif %}
                {%endif%}
              </td>
            </tr>
            {%endfor%}
            {%endif%} -->
            {%endfor%}
          </tbody>
        </table>
        {%else%}  
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header ">Benefits</th>
              <th scope="col" class="govuk-table__header">Question asked</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Outcome</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {%for question in questions %}
            <!-- {%set whichQuestion = question %} -->
              {%if question == "Next payment date" %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{ data['whichBenefitDiscussed'] }}</th>
                <td class="govuk-table__cell">{{question}}</td>
                <td class="govuk-table__cell">
                  {% if data['npd_wasQuestionResolved'] == 'Resolved' %}
                  <strong class="govuk-tag">
                    Resolved
                  </strong>
                  {%else%}
                  <strong class="govuk-tag govuk-tag--grey">
                    Not resolved
                  </strong>
                  {%endif%}
                </td>
              </tr>
              {%endif%}
              {%if question == "Next payment amount" %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{ data['whichBenefitDiscussed'] }}</th>
                <td class="govuk-table__cell">{{question}}</td>
                <td class="govuk-table__cell">
                  {% if data['npa_wasQuestionResolved'] == 'Resolved' %}
                  <strong class="govuk-tag">
                    Resolved
                  </strong>
                  {%else%}
                  <strong class="govuk-tag govuk-tag--grey">
                    Not resolved
                  </strong>
                  {%endif%}
                </td>
              </tr>
              {%endif%}
            {%endfor%}
          </tbody>
          <!-- <tbody class="govuk-table__body">
            {% if outcomePage.length > 0%}
            {% for item in outcomePage %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{ item.benefit }}</th>
                <td class="govuk-table__cell">{{ item.question }}</td>
                <td class="govuk-table__cell">
                  {% if item.result == 'Resolved' %}
                    <stong class="govuk-tag">Resolved</strong>
                  {%elif item.result == 'Does not apply'%}
                    <span class="govuk-body">Does not apply</span>
                  {%else%}
                        <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            {% for item in data.outcomePage %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{ item.benefit }}</th>
              <td class="govuk-table__cell">{{ item.question }}</td>
              <td class="govuk-table__cell">
                
                {% if item.result == 'Resolved' %}
                  <stong class="govuk-tag">Resolved</strong>
                {%elif item.result == 'Does not apply'%}
                  <span class="govuk-body">Does not apply</span>
                {%else%}
                      <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% endif %}
          </tbody> -->
        </table>
        {%endif%}
        <div class="govuk-!-margin-bottom-9 govuk-!-margin-top-6">
          <h2 class="govuk-heading-s">Notes</h2>
          <p class="govuk-body govuk-!-margin-bottom-2">{{ data['addNote'] or "Not provided" }}</p> 
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>

        <form action="check-call-completion" method="post" novalidate>
          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            <a href="add-note" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Add or change note
            </a>
          </div>
      </form>

        <!-- add more beneft/reason -->
        <!-- <form action="/prototype-sprint-wise/ur-8/a/addAnotherBenefit" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Do you want to add another benefit or reason for this call?
              </legend>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds" name="addAnotherBenefit" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds-2" name="addAnotherBenefit" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form> -->
      </div>
    </div>

{% endblock %}
