{% extends "layout.html" %}

{% block pageTitle %}
  Payments and Awards
{% endblock %}

{% block header %}
  {% include "prototype-sprint-wise/ur-5/common/opt1/header-navigation_PaymentandAwards-active.html" %}
    {% include "prototype-sprint-wise/ur-5/common/opt1/keydetail-bar.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "prototype-sprint-wise/ur-5/common/phase-banner--user-research.html" %}
{% endblock %}

{% block footer %}
  {% include "prototype-sprint-wise/ur-5/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="home-page.html">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">Payments and awards</a>
  </li>
</ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Payments and awards</h1>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <nav class="moj-sub-navigation" aria-label="Sub navigation">
              <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="payment-and-awards.html">Issued payments and awards</a>
                </li>

                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" aria-current="page" href="#2">Payment history</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <h2 class="govuk-heading-l">Payment history</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Benefit</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Paid Date</th>
                  <th scope="col" class="govuk-table__header ">Status</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Award</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Deduction</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Carer's Allowance</th>
                  <td class="govuk-table__cell">15 April 2023</td>
                  <td class="govuk-table__cell">Paid</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                  <td class="govuk-table__cell">07 April 2023</td>
                  <td class="govuk-table__cell">Paid</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£192.85</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£3.85</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£189.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                  <td class="govuk-table__cell">24 March 2023</td>
                  <td class="govuk-table__cell">Paid</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£192.85</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£3.85</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£189.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Personal Independence Payment</th>
                  <td class="govuk-table__cell">21 March 2023</td>
                  <td class="govuk-table__cell">Paid</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£247.40</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£247.40</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Carer's Allowance</th>
                  <td class="govuk-table__cell">15 March 2023</td>
                  <td class="govuk-table__cell">Paid</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                  <td class="govuk-table__cell">10 March 2023</td>
                  <td class="govuk-table__cell">Paid</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£192.85</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£3.85</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£189.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                  <td class="govuk-table__cell">24 March 2023</td>
                  <td class="govuk-table__cell">Paid</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£192.85</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£3.85</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£189.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Personal Independence Payment</th>
                  <td class="govuk-table__cell">21 February 2023</td>
                  <td class="govuk-table__cell">Paid</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£247.40</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£247.40</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Carer's Allowance</th>
                  <td class="govuk-table__cell">15 February 2023</td>
                  <td class="govuk-table__cell">Paid</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">278.80</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                  <td class="govuk-table__cell">10 February 2023</td>
                  <td class="govuk-table__cell">Paid</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£154.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£3.85</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£150.15</td>
                </tr>
              </tbody>
            </table>

                  <nav class="moj-pagination" aria-label="Pagination navigation">
                    <ul class="moj-pagination__list">
                      <li class="moj-pagination__item  moj-pagination__item--prev">
                        <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
                      </li>

                      <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 30" aria-current="page">1</li>

                      <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 30">2</a></li>

                      <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 30">3</a></li>

                      <li class="moj-pagination__item moj-pagination__item--dots">…</li>

                      <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5" aria-label="Page 5 of 30">5</a></li>

                      <li class="moj-pagination__item  moj-pagination__item--next">
                        <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
                      </li>
                    </ul>
                    <p class="moj-pagination__results">Showing <b>10</b> to <b>20</b> of <b>30</b> pages</p>
                  </nav>
          </div>
        </div>
        </div>
    </div>
  </div>

{% endblock %}
