{% extends "layout.html" %}

{% block pageTitle %}
  What type of engagement it is?
{% endblock %}

{% block header %}
  {% include "includes/header_keydetail_bar.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Thank you for testing</h2>
      <!-- <p>We've sent your request to an advisor.</p> -->
      <p>You have selected wrong option.</p>
      <p>Select first option 'Christopher Fox' and press continue button </p>
      <!-- <p> You can use <a href="/e-three/find-information">find out about my DWP benefits</a> service to access information about all your DWP benefits and other awards.      </p> -->
      <a href="engangement-with.html" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Continue
      </a>

    </div>
  </div>

{% endblock %}
