{% extends "layout.html" %}

{% block pageTitle %}
Contact history
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/common/header.html" %}
  {% include "prototype-dev-baseline/common/opt2/keydetail-bar.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "prototype-dev-baseline/common/phase-banner.html" %}
  <a href="../internal-pages" class="govuk-back-link govuk-!-display-none-print">Back</a>
{% endblock %}

{% block footer %}
  {% include "prototype-sprint-wise/sprint23/common/footer.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Contact history</h1>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-text-align-right">
        <form action="call-log-journey/selectBenefit" method="post">
          <button class="govuk-button" data-module="govuk-button" onclick="global_var['a']['b']=1;">
            Add or view call details
          </button>
        </form>
      </div>
    </div>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <!-- Tab button here -->
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#view">
            View contact history
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#jsaps-notes">
            Notes from JSAPS
          </a>
        </li>
      </ul>
      <!-- Tab1 content start here -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="view">
        <!-- default ch table -->
        <div id="default-contactHistoryView">
          <h2 class="govuk-heading-l">View contact history</h2>
          <p class="govuk-body">
            There was a problem getting this information. Try again later.
          </p>
        </div>
      </div>
      <!-- Tab2 content start here -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="jsaps-notes">
        <div id="showContactHistory-bydefault">
          <h2 class="govuk-heading-l">Notes from JSAPS</h2>
          <p class="govuk-body">
            There was a problem getting this information from another system. Try again later.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
