{% extends "colleague-view-layout.html" %} {% block pageTitle %} Payments {%
endblock %} {% block content %} {{ govukBreadcrumbs({ items: [ { text:
"Overview", href: "/overview" }, { text: "Customer Details", href:
"/customerdetails" } ] }) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Customer details</h1>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">
        Contact details
      </caption>
      <tbody class="govuk-table__body">
        {% for key, value in user.contactDetails %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{key}}</th>
          <td class="govuk-table__cell">{{value}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="#" class="govuk-link">Change</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div
      class="govuk-accordion"
      data-module="govuk-accordion"
      id="accordion-default"
    >
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button"
              id="accordion-default-heading-1"
            >
              Bank details
            </span>
          </h2>
        </div>
        <div
          id="accordion-default-content-1"
          class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-1"
        >
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              {% for key, value in user.bankDetails %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{key}}</th>
                <td class="govuk-table__cell">{{value}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  <a href="#" class="govuk-link">Change</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
