{% extends "layout.html" %}

{% block pageTitle %}
  redact note
{% endblock %}

{% block header %}
  {% include "sprint22/common/opt1/header-navigation_EngagementHistory-active.html" %}
    {% include "sprint22/common/opt1/keydetail-bar.html" %}
{% endblock %}


{% block footer %}
  {% include "extra-scenarios/note-redaction-journey/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "sprint22/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="contact-history-detail-redacted" method="post" novalidate>
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="redact-note">
                Redact note 
              </label>
            </h1>
            <textarea class="govuk-textarea govuk-!-margin-bottom-3" id="redact-note" name="redact-note" rows="5" aria-describedby="more-detail-hint">Note explaining that the payment is believed to be updated. Customer has recently updated the Bank Details. Christopher’s new account is in HSBC bank with NINO shared LG123456A.</textarea>
            <div id="more-detail-hint" class="govuk-hint">
              You have 200 characters remaining
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-margin-top-6 govuk-!-margin-bottom-6">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Existing note:</h2>
              <p class="govuk-body">Note explaining that the payment is believed to be updated. Customer has recently updated the Bank Details. Christopher’s new account is in HSBC bank with NINO shared LG123456A. </p>
            </div>
          </div>
          
          <!-- <button class="govuk-button" data-module="govuk-button">
            Save and Continue
          </button> -->

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Save and Continue
            </button>
            <a class="govuk-link" href="contact-history-detail-redacted.html">Cancel</a>
          </div>
        </form>
      </div>
    </div>

{% endblock %}
