{% extends "layout.html" %}

{% block pageTitle %}
  Homepage
{% endblock %}


{% block header %}
  {% include "sprint22/common/agent-dashboard-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "sprint22/common/phase-banner--user-research.html" %}
{% endblock %}

{% block footer %}
  {% include "sprint22/common/footer.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="check-response" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
             Select benefits?
            </h1>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="esa" name="select-benefit" type="checkbox" value="Employment support allowance">
              <label class="govuk-label govuk-checkboxes__label" for="esa">
                ESA
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="pip" name="select-benefit" type="checkbox" value="Personal independente allowance">
              <label class="govuk-label govuk-checkboxes__label" for="pip">
               PIP
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="ca" name="select-benefit" type="checkbox" value="Carer allowance">
              <label class="govuk-label govuk-checkboxes__label" for="ca">
                CA
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    </div>
  </div>

{% endblock %}
