{% extends "layout.html" %}

{% block pageTitle %}
  Homepage
{% endblock %}


{% block header %}
  {% include "sprint22/common/agent-dashboard-header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "sprint22/common/phase-banner--user-research.html" %}
{% endblock %}

{% block footer %}
  {% include "sprint22/common/footer.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Check date filter</h1>
<!-- //default table -->

<table border="0" cellspacing="5" cellpadding="5">
  <tbody><tr>
      <td>Minimum date:</td>
      <td><input type="text" id="min" name="min"></td>
  </tr>
  <tr>
      <td>Maximum date:</td>
      <td><input type="text" id="max" name="max"></td>
  </tr>
</tbody></table>

<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Minimum date
  </label>
  <input type="text" id="min" name="min">
  <input class="govuk-input" name="min" type="text" id="min">
</div>
<div class="govuk-form-group">
<label class="govuk-label" for="event-name">
Maximum date
</label>
<input type="text" id="max" name="max">
<input class="govuk-input" name="min" type="text" id="min">
</div>

<table id="example"  class="govuk-table" style="width:100%">
  <thead class="govuk-table__head">
      <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Position</th>
          <th scope="col" class="govuk-table__header">Office</th>
          <th scope="col" class="govuk-table__header">Age</th>
          <th scope="col" class="govuk-table__header">Start date</th>
          <th scope="col" class="govuk-table__header">Salary</th>
      </tr>
  </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Tiger Nixon</td>
            <td class="govuk-table__cell">System Architect</td>
            <td class="govuk-table__cell">Edinburgh</td>
            <td class="govuk-table__cell">61</td>
            <td class="govuk-table__cell">2011-04-25</td>
            <td class="govuk-table__cell">$320,800</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Garrett Winters</td>
          <td class="govuk-table__cell">Accountant</td>
          <td class="govuk-table__cell">Tokyo</td>
          <td class="govuk-table__cell">63</td>
          <td class="govuk-table__cell">2011-07-25</td>
          <td class="govuk-table__cell">$170,750</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Ashton Cox</td>
          <td class="govuk-table__cell">Junior Technical Author</td>
          <td class="govuk-table__cell">San Francisco</td>
          <td class="govuk-table__cell">66</td>
          <td class="govuk-table__cell">2009-01-12</td>
          <td class="govuk-table__cell">$86,000</td>
        </tr>
    </tbody>  
</table>



    </div>
  </div>
  <script>
    let minDate, maxDate;
 
 // Custom filtering function which will search data in column four between two values
 DataTable.ext.search.push(function (settings, data, dataIndex) {
     let min = minDate.val();
     let max = maxDate.val();
     let date = new Date(data[4]);
  
     if (
         (min === null && max === null) ||
         (min === null && date <= max) ||
         (min <= date && max === null) ||
         (min <= date && date <= max)
     ) {
         return true;
     }
     return false;
 });
  
 // Create date inputs
 minDate = new DateTime('#min', {
     format: 'MMMM Do YYYY'
 });
 maxDate = new DateTime('#max', {
     format: 'MMMM Do YYYY'
 });
  
 // DataTables initialisation
 let table = new DataTable('#example');
  
 // Refilter the table
 document.querySelectorAll('#min, #max').forEach((el) => {
     el.addEventListener('change', () => table.draw());
 });
 
    </script>
{% endblock %}
