{% extends "layout.html" %}

{% block pageTitle %}
  Homepage
{% endblock %}


{% block header %}
  {% include "prototype-sprint-wise/sprint22/common/opt1/header-navigation_home-active.html" %}
      {% include "prototype-sprint-wise/sprint22/common/opt1/keydetail-bar.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "prototype-sprint-wise/sprint22/common/phase-banner--user-research.html" %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="home-page.html">Home</a>
  </li>
</ol>
</div>
{% endblock %}

{% block footer %}
  {% include "prototype-sprint-wise/sprint22/common/footer.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Homepage</h1>
      <ul class="govuk-grid-row customer-view-card-group">
            <li class="govuk-grid-column-one-third customer-view-card-group__item">
              <div class="customer-view-card customer-view-card--clickable">
                <div class="customer-view-card__content">
                  <h2 class="customer-view-card__heading govuk-heading-m">
                    <a class="govuk-link govuk-link--no-visited-state customer-view-card__link" href="personal-details.html">Personal details</a>
                  </h2>
                  <p class="govuk-body customer-view-card__description">View customer's personal informations.</p>
                </div>
              </div>
            </li>
            <li class="govuk-grid-column-one-third customer-view-card-group__item">
              <div class="customer-view-card customer-view-card--clickable">
                <div class="customer-view-card__content">
                  <h2 class="customer-view-card__heading govuk-heading-m">
                    <a class="govuk-link govuk-link--no-visited-state customer-view-card__link" href="contact-history.html">Contact history</a>
                  </h2>
                  <p class="govuk-body customer-view-card__description">Check the previous contact logged about a customer.</p>
                </div>
              </div>
            </li>
            <li class="govuk-grid-column-one-third customer-view-card-group__item">
              <div class="customer-view-card customer-view-card--clickable">
                <div class="customer-view-card__content">
                  <h2 class="customer-view-card__heading govuk-heading-m">
                    <a class="govuk-link govuk-link--no-visited-state customer-view-card__link" href="payment-and-awards.html">Payments and Awards</a>
                  </h2>
                  <p class="govuk-body customer-view-card__description">Check customer's next payments and their payment history.</p>
                </div>
              </div>
            </li>
          </ul>

    </div>
  </div>

{% endblock %}
