{% extends "layout.html" %}

{% block pageTitle %}
Error: What was the visit about?
{% endblock %}

{% block header %}
{% include "extra-scenarios/error-handling/user-input-Error/mvp-1_3/common/header_keydetail_bar-visit-from.html" %}
{% endblock %}

{% block footer %}
  {% include "prototype-dev-baseline/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "prototype-dev-baseline/common/phase-banner.html" %}  
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#makingAnAppointment-esa">Select what the visit was about for Employment and Support Allowance</a>
            </li>
            <li>
              <a href="#makingAnAppointment-pip">Select what the visit was about for Personal Independence Payment</a>
            </li> 
            <li>
              <a href="#with-hint">Enter a note that is less than 5000 characters</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <span class="govuk-caption-l">Step 2 of 3</span>
    <h1 class="govuk-heading-l">What was the visit about?</h1>
    <form action="added-call-details" method="post" novalidate>
     <!-- for ESA -->
     <div class="govuk-form-group govuk-form-group--error">
      <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading govuk-heading-m">
            Employment and Support Allowance
          </h2>
        </legend>
        <p id="nationality-error" class="govuk-error-message">
         <span class="govuk-visually-hidden">Error:</span> Select what the visit was about for Employment and Support Allowance
       </p>
       <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="makingAnAppointment-esa" name="contact-type-esa" type="checkbox" value="Making an appointment" {{ checked ('contact-type-esa', 'Making an appointment') }}>
          <label class="govuk-label govuk-checkboxes__label" for="makingAnAppointment">
            Making an appointment 
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="shortTermBenefitAdvance" name="contact-type-esa" type="checkbox" value="Short term benefit advance" {{ checked ('contact-type-esa', 'Short term benefit advance') }}>
          <label class="govuk-label govuk-checkboxes__label" for="shortTermBenefitAdvance">
            Short term benefit advance 
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="checkingEligibility" name="contact-type-esa" type="checkbox" value="Checking eligibility" {{ checked ('contact-type-esa', 'Checking eligibility') }}>
          <label class="govuk-label govuk-checkboxes__label" for="checkingEligibility">
            Checking eligibility
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="Complaint" name="contact-type-esa" type="checkbox" value="Complaint" {{ checked ('contact-type-esa', 'Complaint') }}>
          <label class="govuk-label govuk-checkboxes__label" for="Complaint">
            Complaint
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="somethingElse" name="contact-type-esa" type="checkbox" value="Something else" {{ checked ('contact-type-esa', 'Something else') }}>
          <label class="govuk-label govuk-checkboxes__label" for="somethingElse">
            Something else
          </label>
        </div>
      </div>
      </fieldset>
    </div>
    <!-- for PIP -->
    <div class="govuk-form-group govuk-form-group--error">
      <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading govuk-heading-m">
            Personal Independence Payment
          </h2>
        </legend>
        <p id="nationality-error" class="govuk-error-message">
         <span class="govuk-visually-hidden">Error:</span> Select what the visit was about for Personal Independence Payment
       </p>
       <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="makingAnAppointment-pip" name="contact-type-pip" type="checkbox" value="Making an appointment" {{ checked ('contact-type-esa', 'Making an appointment') }}>
          <label class="govuk-label govuk-checkboxes__label" for="makingAnAppointment">
            Making an appointment 
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="checkingEligibility" name="contact-type-pip" type="checkbox" value="Checking eligibility" {{ checked ('contact-type-esa', 'Checking eligibility') }}>
          <label class="govuk-label govuk-checkboxes__label" for="checkingEligibility">
            Checking eligibility
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="Complaint" name="contact-type-pip" type="checkbox" value="Complaint" {{ checked ('contact-type-esa', 'Complaint') }}>
          <label class="govuk-label govuk-checkboxes__label" for="Complaint">
            Complaint
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="somethingElse" name="contact-type-pip" type="checkbox" value="Something else" {{ checked ('contact-type-esa', 'Something else') }}>
          <label class="govuk-label govuk-checkboxes__label" for="somethingElse">
            Something else
          </label>
        </div>
      </div>
      </fieldset>
    </div>

  <!-- add a note -->
  <div class="govuk-form-group govuk-character-count govuk-!-margin-top-9 govuk-form-group--error" data-module="govuk-character-count" data-maxlength="5000">
    <h2 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="with-hint">
        Add a note (optional)
      </label>
    </h2>
    <p class="govuk-body">You do not need to repeat anything you have already selected.</p>
    <div class="govuk-warning-text govuk-!-margin-bottom-2">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Do not include any personal details.
      </strong>
    </div>
    <p id="more-detail-error" class="govuk-error-message">
     <span class="govuk-visually-hidden">Error:</span>Enter a note that is less than 5000 characters
   </p>
    <textarea class="govuk-textarea govuk-js-character-count govuk-!-margin-bottom-3" id="with-hint" name="addNote" rows="7" aria-describedby="with-hint-info with-hint-hint">
Background and qualifications. it's an important tool within the application process because it is your 1st impression to potential employers. A literary and well-designed CV will build all the distinction in landing an interview and securing your dream job. during this article, we’ll explore the importance of writing a CV and being at the hands of a specialist in writing a CV, the importance of a singular style and canopy letter, and methods for crushing the software system employed by recruiters to screen resumes. whether or not you’re a recent graduate or a seasoned professional, this text can offer valuable insights on a way to make your CV stand out from the competition.
Writing a biography, conjointly called a CV (curriculum vitae) or resume, is an important step in the application process. A literary and well-designed CV is your 1st chance to form a good impression on potential employers, and placing your best foot forward is essential.
It's your first impression and it should be polished, correct, and comprehensive. an expert CV should embody your contact information, work experience, education, and any relevant skills or certifications. It should be written in an exceedingly clear and elliptical manner and will be free from grammatical errors or typos.
background and qualifications. it's an important tool within the application process because it is your 1st impression to potential employers. A literary and well-designed CV will build all the distinction in landing an interview and securing your dream job. during this article, we’ll explore the importance of writing a CV and being at the hands of a specialist in writing a CV, the importance of a singular style and canopy letter, and methods for crushing the software system employed by recruiters to screen resumes. whether or not you’re a recent graduate or a seasoned professional, this text can offer valuable insights on a way to make your CV stand out from the competition.
Writing a biography, conjointly called a CV (curriculum vitae) or resume, is an important step in the application process. A literary and well-designed CV is your 1st chance to form a good impression on potential employers, and placing your best foot forward is essential.
It's your first impression and it should be polished, correct, and comprehensive. an expert CV should embody your contact information, work experience, education, and any relevant skills or certifications. It should be written in an exceedingly clear and elliptical manner and will be free from grammatical errors or typos.
background and qualifications. it's an important tool within the application process because it is your 1st impression to potential employers. A literary and well-designed CV will build all the distinction in landing an interview and securing your dream job. during this article, we’ll explore the importance of writing a CV and being at the hands of a specialist in writing a CV, the importance of a singular style and canopy letter, and methods for crushing the software system employed by recruiters to screen resumes. whether or not you’re a recent graduate or a seasoned professional, this text can offer valuable insights on a way to make your CV stand out from the competition.
Writing a biography, conjointly called a CV (curriculum vitae) or resume, is an important step in the application process. A literary and well-designed CV is your 1st chance to form a good impression on potential employers, and placing your best foot forward is essential.
It's your first impression and it should be polished, correct, and comprehensive. an expert CV should embody your contact information, work experience, education, and any relevant skills or certifications. It should be written in an exceedingly clear and elliptical manner and will be free from grammatical errors or typos.
background and qualifications. it's an important tool within the application process because it is your 1st impression to potential employers. A literary and well-designed CV will build all the distinction in landing an interview and securing your dream job. during this article, we’ll explore the importance of writing a CV and being at the hands of a specialist in writing a CV, the importance of a singular style and canopy letter, and methods for crushing the software system employed by recruiters to screen resumes. whether or not you’re a recent graduate or a seasoned professional, this text can offer valuable insights on a way to make your CV stand out from the competition.
Writing a biography, conjointly called a CV (curriculum vitae) or resume, is an important step in the application process. A literary and well-designed CV is your 1st chance to form a good impression on potential employers, and placing your best foot forward is essential.
It's your first impression and it should be polished, correct, and comprehensive. an expert CV should embody your contact information, work experience, education, and any relevant skills or certifications. It should be written in an exceedingly clear and elliptical manner and will be free from grammatical errors or typos.
    </textarea>
    <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
      You have 5000 characters remaining
    </div>
  </div>
    <button class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
  </form>
  </div>
</div>

{% endblock %}
