{% extends "layout.html" %}

{% block pageTitle %}
Error: Contact history
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/common/opt2/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-dev-baseline/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "prototype-dev-baseline/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#from-date-day">Enter a date within the last 12 months</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Contact history</h1>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-text-align-right">
        <form action="call-log-journey/selectBenefit" method="post">
          <button class="govuk-button" data-module="govuk-button" onclick="global_var['a']['b']=1;">
            Add or view call details
          </button>
        </form>
      </div>
    </div>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <!-- Tab button here -->
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#view">
            View contact history
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#jsaps-notes">
            Notes from JSAPS
          </a>
        </li>
      </ul>
      <!-- Tab1 content start here -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="view">
        <!-- default ch table -->
        <div id="default-contactHistoryView">
          <h2 class="govuk-heading-l">View contact history</h2>
          <!-- Filter section start here -->
          <button class="govuk-button govuk-button--secondary govuk-!-display-none" data-module="govuk-button" id="show-filter-btn">
            Show filter
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="hide-filter-btn">
            Hide filter
          </button>
          <!-- Filter section -->
          <form action="contact-history" method="post">
            <!-- both benefit and ate filter-->
            <div class="govuk-!-margin-bottom-8" id="old-filter-design">
              <h3 class="govuk-heading-m">Filters</h3>
                  <!-- filter by date range -->
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Date range</h3>
                    <div id="passport-issued-hint" class="govuk-hint">
                      Please select date range that is within last 12 months.
                    </div>
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-third">
                        <div class="govuk-form-group govuk-form-group--error">
                          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-range-from-hint">
                            <legend class="govuk-fieldset__legend">
                              From date
                            </legend>
                            <div id="date-range-from-hint" class="govuk-hint">
                              For example, 13 03 2023
                            </div>
                            <p id="passport-issued-error" class="govuk-error-message">
                              <span class="govuk-visually-hidden">Error:</span>Enter a date within the last 12 months
                            </p>
                            <div class="govuk-date-input" id="from-date">
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="from-date-day">
                                        Day
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-date-day" name="from-date-day" type="text" inputmode="numeric" autocomplete="on" value="01">
                                </div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="from-date-month">
                                        Month
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-date-month" name="from-date-month" type="text" inputmode="numeric" autocomplete="on" value="03">
                                </div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="from-date-year">
                                        Year
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-date-year" name="from-date-year" type="text" inputmode="numeric" autocomplete="on" value="2022">
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                      <div class="govuk-grid-column-one-third">
                            <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset" role="group" aria-describedby="date-range-to-hint">
                                <legend class="govuk-fieldset__legend">
                                  To date
                                </legend>
                                <div id="date-range-to-hint" class="govuk-hint">
                                  For example, 22 04 2023
                                </div>
                                <div class="govuk-date-input" id="to-date">
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="to-date-day">
                                        Day
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-date-day" name="to-date-day" type="text" inputmode="numeric" autocomplete="on" value="01">
                                    </div>
                                  </div>
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="to-date-month">
                                        Month
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-date-month" name="to-date-month" type="text" inputmode="numeric" autocomplete="on" value="04">
                                    </div>
                                  </div>
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="to-date-year">
                                        Year
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-date-year" name="to-date-year" type="text" inputmode="numeric" autocomplete="on" value="2024">
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <!-- filter by Benefits -->
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Benefit
                        </legend>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            {% if data.tableFilterEsa == true%}
                              <input class="govuk-checkboxes__input" id="ESA-benefit" name="benefit" type="checkbox" value="Employment and Support Allowance" checked="checked">
                              <label class="govuk-label govuk-checkboxes__label" for="ESA-benefit">
                                Employment and Support Allowance
                              </label>
                            {% else %}
                              <input class="govuk-checkboxes__input" id="ESA-benefit" name="benefit" type="checkbox" value="Employment and Support Allowance">
                              <label class="govuk-label govuk-checkboxes__label" for="ESA-benefit">
                                Employment and Support Allowance
                              </label>
                            {% endif%}
                          </div>
                          <div class="govuk-checkboxes__item">
                            {% if data.tableFilterJa == true%}
                            <input class="govuk-checkboxes__input" id="JA-benefit" name="benefit" type="checkbox" value="Carer's Allowance" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="JA-benefit">
                              Carer's Allowance
                            </label>
                            {% else %}
                            <input class="govuk-checkboxes__input" id="JA-benefit" name="benefit" type="checkbox" value="Carer's Allowance">
                            <label class="govuk-label govuk-checkboxes__label" for="JA-benefit">
                              Carer's Allowance
                            </label>
                            {% endif%}
                          </div>
                          <div class="govuk-checkboxes__item">
                            {% if data.tableFilterPip == true%}
                            <input class="govuk-checkboxes__input" id="PIP-benefit" name="benefit" type="checkbox" value="Personal Independence Payment" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="PIP-benefit">
                              Personal Independence Payment
                            </label>
                            {% else %}
                            <input class="govuk-checkboxes__input" id="PIP-benefit" name="benefit" type="checkbox" value="Personal Independence Payment">
                            <label class="govuk-label govuk-checkboxes__label" for="PIP-benefit">
                              Personal Independence Payment
                            </label>
                            {% endif%}
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
                  <!-- Apply filter button -->
                <div class="govuk-button-group">
                  <button class="govuk-button" data-module="govuk-button" id="apply-filter-btn" onclick="applyFilter()">
                    Apply filter
                  </button>
                  <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="cancel-filter-link" onclick="cancelFilter()">
                    Clear filter
                  </button>
                </div>
            </div>
          </form>
          <!-- Display Applied / selected filter here -->
          <div class="govuk-!-padding-top-0 moj-filter__selected govuk-visually-hidden" id="filter-selected">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Filters applied</h3>
            {% if data['benefit'].length > 0%}
              <ul class="moj-filter-tags govuk-!-margin-bottom-2">
                {% for filterBenefit in data['benefit'] %}
                <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>{{ filterBenefit }}</a></li>
                {% endfor %}
              </ul>
              <a class="govuk-link" href="#" onclick="clearFilter()">Clear filter</a>
            {% else %}
            <span class="govuk-body">There is no filter selected</span>
          {%endif%}
          </div>
          <!-- hard code table -->
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date and time</th>
                <th scope="col" class="govuk-table__header">Type of contact</th>
                <th scope="col" class="govuk-table__header ">Benefits</th>
                <th scope="col" class="govuk-table__header">Type of enquiry </th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Thur 10 Aug 2023, 13:03</td>
                <td class="govuk-table__cell">Telephone call</td>
                <td class="govuk-table__cell">Personal Independence Payment</td>
                <td class="govuk-table__cell">Next payment date</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">resolved</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View details</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 7 Aug 2023, 13:00</td>
                <td class="govuk-table__cell">A different type of contact</td>
                <td class="govuk-table__cell">Personal Independence Payment</td>
                <td class="govuk-table__cell">Next payment amount</td>
                <td class="govuk-table__cell">No status added</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-non-telephony" class="govuk-link">View details</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 7 Aug 2023, 13:00</td>
                <td class="govuk-table__cell">A different type of contact</td>
                <td class="govuk-table__cell">Employment and Support Allowance</td>
                <td class="govuk-table__cell">Next payment amount</td>
                <td class="govuk-table__cell">No status added</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-non-telephony" class="govuk-link">View details</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Wed 09 Aug 2023, 09:03</td>
                <td class="govuk-table__cell">A different type of contact</td>
                <td class="govuk-table__cell">No benefit added</td>
                <td class="govuk-table__cell">No enquiry type added</td>
                <td class="govuk-table__cell">No status added</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-non-telephony-2.html" class="govuk-link">View details</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Tue 8 Aug 2023, 09:20</td>
                <td class="govuk-table__cell">Telephone call</td>
                <td class="govuk-table__cell">Carer's Allowance</td>
                <td class="govuk-table__cell">Next payment date</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">resolved</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View details</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Fri 28 Jul 2023, 11:00</td>
                <td class="govuk-table__cell">Telephone call</td>
                <td class="govuk-table__cell">Personal Independence Payment</td>
                <td class="govuk-table__cell">Next payment amount</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">resolved</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View details</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Fri 22 Jul 2023, 08:30</td>
                <td class="govuk-table__cell">Telephone call</td>
                <td class="govuk-table__cell">Carer's Allowance</td>
                <td class="govuk-table__cell">Next payment amount</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">resolved</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View details</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Thu 29 Jun 2023, 09:03</td>
                <td class="govuk-table__cell">Telephone call</td>
                <td class="govuk-table__cell">Employment and Support Allowance</td>
                <td class="govuk-table__cell">Next payment amount</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">resolved</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View details</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Wed 28 Jun 2023, 12:15</td>
                <td class="govuk-table__cell">Telephone call</td>
                <td class="govuk-table__cell">Carer's Allowance</td>
                <td class="govuk-table__cell">Next payment date</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">resolved</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View details</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Wed 28 Jun 2023, 12:00</td>
                <td class="govuk-table__cell">Telephone call</td>
                <td class="govuk-table__cell">Carer's Allowance</td>
                <td class="govuk-table__cell">Something else</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">resolved</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View details</a></td>
              </tr>
            </tbody>
          </table>
          <!-- table pagination -->
          <nav class="moj-pagination" aria-label="Pagination navigation" role="navigation">
            <ul class="moj-pagination__list">
              <!-- <li class="moj-pagination__item  moj-pagination__item--prev">
                <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
              </li> -->
              <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1" aria-current="page">1</a></li>
  
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 2">2</a></li>
  
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 3">3</a></li>
  
              <li class="moj-pagination__item moj-pagination__item--dots">…</li>
  
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 5">5</a></li>
  
              <li class="moj-pagination__item  moj-pagination__item--next">
                <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
              </li>
            </ul>
            <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>60</b> results</p>
          </nav>
        </div>
      </div>
      <!-- Tab2 content start here -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="jsaps-notes">
        <div id="showContactHistory-bydefault">
          <h2 class="govuk-heading-l">Notes from JSAPS</h2>
          <!-- data table -->
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">When note was created</th>
                <th scope="col" class="govuk-table__header">Notes</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
            </tbody>
          </table>
          <!-- table pagination -->
          <nav class="moj-pagination" aria-label="Pagination navigation" role="navigation">
            <ul class="moj-pagination__list">
              <!-- <li class="moj-pagination__item  moj-pagination__item--prev">
                <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
              </li> -->
              <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1" aria-current="page">1</a></li>
  
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 2">2</a></li>
  
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 3">3</a></li>
  
              <li class="moj-pagination__item moj-pagination__item--dots">…</li>
  
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 5">5</a></li>
  
              <li class="moj-pagination__item  moj-pagination__item--next">
                <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
              </li>
            </ul>
            <p class="moj-pagination__results">Showing <b>1</b> to <b>05</b> of <b>60</b> results</p>
          </nav>
        </div>
          <!-- contact details section -->
          <div class="govuk-visually-hidden" id="showCtDetails">
            <a class="govuk-back-link" href="javascript:void(0);" onclick="showContactHistory();">Back</a>
            <h2 class="govuk-!-width-two-thirds govuk-heading-l govuk-!-margin-top-6">Details about Telephone call on 17 October 2023</h2>
            <!-- call started at -->
            <div class="ovuk-!-width-full govuk-!-margin-bottom-6">
              <span class="govuk-caption-m">Started at</span>
              <h2 class="govuk-heading-m">Monday 17 Oct 2023, 13:03</h2>
            </div>
            <!-- Benefits discussed -->
            <div class="govuk-!-width-full govuk-!-margin-top-4 govuk-!-margin-bottom-8">
              <div class="colleague-view-upcomming-payment-benefit">
                <h2 class="govuk-heading-m">
                  Benefits discussed
                </h2>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header ">Benefits</th>
                      <th scope="col" class="govuk-table__header">Type of enquiry</th>
                      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Notes<span class="govuk-hint"> (optional)</span</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Employment and Support Allowance</td>
                      <td class="govuk-table__cell">Next payment date</td>
                      <td class="govuk-table__cell">-</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag">Resolved</strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Employment and Support Allowance</td>
                      <td class="govuk-table__cell">Next payment amount</td>
                      <td class="govuk-table__cell">-</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag">Resolved</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Call and Agent information -->
            <div class="colleague-view-container-light-grey govuk-!-margin-bottom-4">
              <div class="govuk-grid-row"> 
                <div class="govuk-grid-column-one-third">
                  <span class="govuk-caption-m">Caller</span>
                  <div>
                    <span class="govuk-body govuk-!-font-weight-bold break-line-colleague-view">Jane Doe (Appointee)</span>
                  </div>
                </div>
                <div class="govuk-grid-column-one-third">
                  <span class="govuk-caption-m">Call taken by</span>
                  <div>
                    <span class="govuk-body govuk-!-font-weight-bold break-line-colleague-view">Agent (1003)</span>
                  </div>
                </div>
                <div class="govuk-grid-column-one-third">
                  <span class="govuk-caption-m">Length of call</span>
                  <div>
                    <span class="govuk-body govuk-!-font-weight-bold break-line-colleague-view">15 Minutes</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- call ended at -->
            <div class="govuk-!-width-full">
              <span class="govuk-caption-m">Ended at</span>
              <h2 class="govuk-heading-m">Monday 17 Oct 2023, 13:18</h2>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
