{% extends "layout.html" %}

{% block pageTitle %}
  Error: Select what type of contact you have had with the customer
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/common/opt2/header_keydetail_bar.html" %}
{% endblock %}

{% block footer %}
  {% include "prototype-dev-baseline/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
{% include "prototype-dev-baseline/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/prototype-dev-baseline/mvp-1_0/who-is-calling-or-contacting" method="post">
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#telephone-call">Select what type of contact you have had with the customer</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What type of contact have you had with the customer or their appointee or representative?
              </h1>
            </legend>
            <p id="whatTypeOfCall-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select what type of contact you have had with the customer
            </p>
            <div class="govuk-radios govuk-!-margin-top-3" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="telephone-call" name="What-type-of-contact" type="radio" value="Telephone call with">
                <label class="govuk-label govuk-radios__label" for="telephone-call">
                  A telephone call
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  This includes incoming and outgoing telephone calls
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="different-type-contact" name="What-type-of-contact" type="radio" value="Contact with">
                <label class="govuk-label govuk-radios__label" for="different-type-contact">
                  A different type of contact
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  Examples include face-to-face or post
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>
    </div>
  </div>

{% endblock %}
