{% extends "layout.html" %}

{% block pageTitle %}
  Display error message - prototype
{% endblock %}


{% block header %}
  {% include "extra-scenarios/error-handling/common/header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "extra-scenarios/error-handling/common/phase-banner.html" %}
  <a class="govuk-back-link" href="../index">Back</a>
{% endblock %}

{% block footer %}
  {% include "extra-scenarios/error-handling/common/footer.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Input errors</span>
    <h1 class="govuk-heading-l">MVP 1.0</h1>

    <!-- Tab list for Telephony and Non-telephony users -->
    <!-- <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#telephony">
            For Telephony
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#non-telephony">
            For Non-telephony
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="telephony">
        <h2 class="govuk-heading-l">For Telephony</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Screen</th>
              <th scope="col" class="govuk-table__header">Validation rule</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Enter NINO</td>
              <td class="govuk-table__cell">NINO field is empty and user selects 'Start now'</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="nino/empty-nino.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Enter NINO</td>
              <td class="govuk-table__cell">User enters NINO in incorrect format - accept spaces, upper case and lower case</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="nino/incorrect-format-nino.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Enter NINO</td>
              <td class="govuk-table__cell">User enters NINO in correct format but it doesn't exist</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="nino/nino-not-exist.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Why are you checking this customer's benefit information?</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="why-you-checking-benefit-Info.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">What type of contact - Telephony/Non-telephony</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="contact-Type.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Who is calling</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="call-with.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Which benefits discussed</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="benefit-discussed.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Questions asked</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="question-asked.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Outcome of queries</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="query-outcome.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Add a note</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="add-note-option.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Note</td>
              <td class="govuk-table__cell">User note input is over 500 characters</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="add-Note.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Add another benefit or reason for this call</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="added-details.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Add another reason before completing call</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="add-another-reason-BeforeCompleteCall.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">What did you discuss for a different benefit</td>
              <td class="govuk-table__cell">User note input is over 500 characters</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="noBenefit-add-Note.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="non-telephony">
        <h2 class="govuk-heading-l">For Non-telephony</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Screen</th>
              <th scope="col" class="govuk-table__header">Validation rule</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Enter NINO</td>
              <td class="govuk-table__cell">NINO field is empty and user selects 'Start now'</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="nino/empty-nino.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Enter NINO</td>
              <td class="govuk-table__cell">User enters NINO in incorrect format - accept spaces, upper case and lower case</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="nino/incorrect-format-nino.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Enter NINO</td>
              <td class="govuk-table__cell">User enters NINO in correct format but it doesn't exist</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="nino/nino-not-exist.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Why are you checking this customer's benefit information?</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="why-you-checking-benefit-Info.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">What type of contact - Telephony/Non-telephony</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="contact-Type.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Who is calling</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="call-with.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Which benefits discussed</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="benefit-discussed.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Questions asked</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="question-asked.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Outcome of queries</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="query-outcome.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Add a note</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="add-note-option.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Note</td>
              <td class="govuk-table__cell">User note input is over 500 characters</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="add-Note.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Add another benefit or reason for this call</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="added-details.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Add another reason before completing call</td>
              <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="add-another-reason-BeforeCompleteCall.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">What did you discuss for a different benefit</td>
              <td class="govuk-table__cell">User note input is over 500 characters</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="noBenefit-add-Note.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Screen</th>
          <th scope="col" class="govuk-table__header">Validation rule</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Enter NINO</td>
          <td class="govuk-table__cell">NINO field is empty and user selects 'Start now'</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="nino/empty-nino.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Enter NINO</td>
          <td class="govuk-table__cell">User enters NINO in incorrect format - accept spaces, upper case and lower case</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="nino/incorrect-format-nino.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Enter NINO</td>
          <td class="govuk-table__cell">User enters NINO in correct format but it doesn't exist</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="nino/nino-not-exist.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Why are you checking this customer's benefit information?</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="why-you-checking-benefit-Info.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">What type of contact - Telephony/Non-telephony</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="contact-Type.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Contact history filter search validation</td>
          <td class="govuk-table__cell">User selects NO filters, but tries to click 'Apply filters'</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="contact-history.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Payment history filter search validation</td>
          <td class="govuk-table__cell">User selects NO filters, but tries to click 'Apply filters'</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="payment-history#history" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell">Who is calling</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="call-with.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Which benefits discussed</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="benefit-discussed.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Questions asked</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="question-asked.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Outcome of queries</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="query-outcome.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Add a note</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="add-note-option.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Note</td>
          <td class="govuk-table__cell">User note input is over 500 characters</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="add-Note.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Add another benefit or reason for this call</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="added-details.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Add another reason before completing call</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="add-another-reason-BeforeCompleteCall.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">What did you discuss for a different benefit</td>
          <td class="govuk-table__cell">User note input is over 500 characters</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="noBenefit-add-Note.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr> -->
      </tbody>
    </table>

    <!-- for telephony -->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">For telephony users</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Screen</th>
          <th scope="col" class="govuk-table__header">Validation rule</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Who is calling</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="call-with.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Which benefits discussed</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="benefit-discussed.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Questions asked</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="question-asked.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Outcome of queries</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="query-outcome.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Add a note</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="add-note-option.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Note</td>
          <td class="govuk-table__cell">User note input is over 500 characters</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="add-Note.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Add another benefit or reason for this call</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="added-details.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Add another reason before completing call</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="add-another-reason-BeforeCompleteCall.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">What did you discuss for a different benefit</td>
          <td class="govuk-table__cell">User note input is over 500 characters</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="noBenefit-add-Note.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- for Non-telephony -->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">For non-telephony users</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Screen</th>
          <th scope="col" class="govuk-table__header">Validation rule</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Who was contact with</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="contact-with.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Which benefits discussed</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="benefit-discussed-non-telephony.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Questions asked</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="question-asked-non-telephony.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Add a note</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="add-note-option.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Note</td>
          <td class="govuk-table__cell">User note input is over 500 characters</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="add-Note.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Add more details about this contact</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="added-details-non-telephony.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Add another reason before completing call</td>
          <td class="govuk-table__cell">User clicked 'Save and continue' button without an option selected</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="add-another-reason-BeforeCompleteCall-non-telephony.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">What did you discuss for a different benefit</td>
          <td class="govuk-table__cell">User note input is over 500 characters</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href="noBenefit-add-Note-non-telephony.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">view prototype</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
