{% extends "layout.html" %}

{% block pageTitle %}
  Cookies on the DWP Design System website
{% endblock %}


{% block beforeContent %}
  {% include "extra-scenarios/cookies/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Cookies on the DWP Design System website</h1>

    <h2 class="govuk-heading-m">Cookies types:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="essential-cookies/home.html">Essential cookies</a>
        </li>
        <!-- <li>
          <a class="govuk-link" href="optional-cookies/data-not-available-1.html">Optional cookies - Analytics</a>
        </li> -->
      </ul>

  </div>

  <div class="govuk-grid-column-one-third govuk-visually-hidden">
    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Subsection
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="#">
              Related link
            </a>
          </li>
          <li>
            <a class="govuk-link" href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#" class="govuk-link govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
