{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/common/opt2/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-dev-baseline/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check call details you have added</h1>
        <!-- custome (summarylist) component  -->
        <table class="govuk-summary-list govuk-!-margin-bottom-6">
          <tbody class="govuk-summary-list">
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key">Benefit discussed</th>
              <td class="govuk-summary-list__value">
                {{ data['whichBenefitDiscussed'] }}
              </td>
              <td class="govuk-summary-list__actions">
                <a href="selectBenefit.html">
                Change<span class="govuk-visually-hidden">the benefit that was discussed</span>
                </a>
              </td>
            </tr>
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key">
                Questions asked
              </th>
              <td class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  {% for benefit in data['questionAsk'] %}
                  <li>{{ benefit }}</li>
                  {% endfor %}
                </ul>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="selectQuestion.html">
                  Change
                <span class="govuk-visually-hidden">questions that the caller asked</span>
                </a>
              </td>
            </tr>
            <tr class="govuk-summary-list__row {{isNpd}}">
              <th scope="row" class="govuk-summary-list__key"> Was the next payment date question resolved?</th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isNpdResolved}}">
                  {{ data['npd_wasQuestionResolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                Change
                <span class="govuk-visually-hidden">the outcome of the next payment date question</span>
                </a>
              </td>
            </tr>
            <tr class="govuk-summary-list__row {{isNpa}}">
              <th scope="row" class="govuk-summary-list__key">
                Was the next payment amount question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isNpaResolved}}">
                  {{ data['npa_wasQuestionResolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="selectQuestion.html">
                  Change
                <span class="govuk-visually-hidden">the outcome of the next payment amount question</span>
                </a>
              </td>
            </tr>
            <tr class="govuk-summary-list__row {{isMp}}">
              <th scope="row" class="govuk-summary-list__key">
                Was the missing payment question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isMaRresolved}}">
                  {{ data['ma_wasQuestionResolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="selectQuestion.html">
                  Change
                <span class="govuk-visually-hidden">the outcome of the missing payment question</span>
                </a>
              </td>
            </tr>
            <tr class="govuk-summary-list__row {{isRfch}}">
              <th scope="row" class="govuk-summary-list__key">
                Was the change in payment amount question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isRfchRresolved}}">
                  {{ data['chpa_wasQuestionResolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="selectQuestion.html">
                  Change<span class="govuk-visually-hidden"> the outcome of the change in payment amount question</span>
                </a>
              </td>
            </tr>
            <tr class="govuk-summary-list__row {{isSE}}">
              <th scope="row" class="govuk-summary-list__key">
                Was something else question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isSERresolved}}">
                  {{ data['smelse_wasQuestionResolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="selectQuestion.html">
                  Change
                <span class="govuk-visually-hidden"> table data</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        
        <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Benefit discussed
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['whichBenefitDiscussed'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="selectBenefit.html">
                Change<span class="govuk-visually-hidden">benefit name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Questions asked
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                {% for benefit in data['questionAsk'] %}
                <li>{{ benefit }}</li>
                {% endfor %}
              </ul>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="selectQuestion.html">
                Change<span class="govuk-visually-hidden"> questions asked</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row {{isNpd}}">
            <dt class="govuk-summary-list__key">
              Was the next payment date question resolved?
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag {{isNpdResolved}}">
                {{ data['npd_wasQuestionResolved'] }}
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="questionAnswered.html">
                Change<span class="govuk-visually-hidden"> Next payment date question status</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row {{isNpa}}">
            <dt class="govuk-summary-list__key">
              Was the next payment amount question resolved?
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag {{isNpaResolved}}">
                {{ data['npa_wasQuestionResolved'] }}
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="questionAnswered.html">
                Change<span class="govuk-visually-hidden"> Next payment amount question status</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row {{isMp}}">
            <dt class="govuk-summary-list__key">
              Was the missing payment question resolved?
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag {{isMaRresolved}}">
                {{ data['ma_wasQuestionResolved'] }}
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="questionAnswered.html">
                Change<span class="govuk-visually-hidden"> Next payment amount question status</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row {{isRfch}}">
            <dt class="govuk-summary-list__key">
              Was the change in payment amount question resolved?
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag {{isRfchRresolved}}">
                {{ data['chpa_wasQuestionResolved'] }}
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="questionAnswered.html">
                Change<span class="govuk-visually-hidden"> payment amount question status</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row {{isSE}}">
            <dt class="govuk-summary-list__key">
              Did you resolve the caller's questions?
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag {{isSERresolved}}">
                {{ data['smelse_wasQuestionResolved'] }}
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="unHappy_journey/noQuestion/askedClQ.html">
                Change<span class="govuk-visually-hidden"> payment amount question status</span>
              </a>
            </dd>
          </div>
        </dl> -->
        <form action="discussAnythingElse" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Confirm
          </button>
        </form>
      </div>
    </div>

{% endblock %}
