{% extends "layout.html" %}

{% block pageTitle %}
  Payments and Awards
{% endblock %}

{% block header %}
  {% include "prototype-sprint-wise/sprint22/common/opt1/header-navigation_PaymentandAwards-active.html" %}
    {% include "prototype-sprint-wise/sprint22/common/opt1/keydetail-bar.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-sprint-wise/sprint22/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "prototype-sprint-wise/sprint22/common/phase-banner--user-research.html" %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="home-page.html">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">Payments and awards</a>
  </li>
</ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Payments and awards</h1>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#upcoming-payments">
              Upcoming Payments
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#payment-history">
              Payment history
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#award-breakdown">
              Breakdown of Awards
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="upcoming-payments">
          <h2 class="govuk-heading-l">Upcoming payments</h2>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <div class="govuk-warning-text govuk-!-margin-bottom-2">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Pending and Issued payments which are due to reach the citizen's account
                  </strong>
                </div>
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    <div class="colleague-view-upcomming-payment-benefit">
                      <strong class="govuk-tag govuk-tag--turquoise govuk-!-margin-bottom-2">Issued</strong>
                      <div class="gem-c-big-number govuk-!-margin-bottom-3">
                        <p class="gem-c-big-number__label">
                          The next Personal Independence Payment (PIP) payment for
                        </p>
                        <span class="gem-c-big-number__value govuk-!-font-size-48">
                          £479.00
                        </span>
                        <span class="govuk-visually-hidden">&nbsp;</span>
                        <p class="govuk-body govuk-!-margin-top-1">is on 14 August 2023</p>
                        </div>
                        <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              View payment breakdown
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            <h4 class="govuk-heading-m">Payment breakdown</h4>
                            <table class="govuk-table">
                              <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                  <th scope="col" class="govuk-table__header">Payment type</th>
                                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
                                </tr>
                              </thead>
                              <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell">Award</td>
                                  <td class="govuk-table__cell govuk-table__cell--numeric">£559.00</td>
                                </tr>
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell">Total deductions</td>
                                  <td class="govuk-table__cell govuk-table__cell--numeric">£80.00</td>
                                </tr>
                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__header">Total</th>
                                  <td class="govuk-table__cell govuk-table__cell--numeric">£479.00</td>
                                </tr>
                              </tbody>
                          </table>
                                  </div>
                                </details>
                              </div>
                  </div>
                  <div class="govuk-grid-column-one-half">
                                  <div class="colleague-view-upcomming-payment-benefit">
                                    <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-2">Pending</strong>
                                    <div class="gem-c-big-number govuk-!-margin-bottom-3">
                                      <p class="gem-c-big-number__label">
                                        The next Employment and Support Allowance (ESA) payment for
                                      </p>
                                      <span class="gem-c-big-number__value govuk-!-font-size-48">
                                        £184.13
                                      </span>
                                      <span class="govuk-visually-hidden">&nbsp;</span>
                                      <p class="govuk-body govuk-!-margin-top-1">is on 15 August 2023</p>
                                    </div>
                                    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                                      <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                          View payment breakdown
                                        </span>
                                      </summary>
                                      <div class="govuk-details__text">
                                        <h4 class="govuk-heading-m">Payment breakdown</h4>
                                        <table class="govuk-table">
                                          <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                              <th scope="col" class="govuk-table__header">Payment type</th>
                                              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
                                            </tr>
                                          </thead>
                                          <tbody class="govuk-table__body">
                                            <tr class="govuk-table__row">
                                              <td class="govuk-table__cell">Award</td>
                                              <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                              <td class="govuk-table__cell">Total deductions</td>
                                              <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                              <th scope="row" class="govuk-table__header">Total</th>
                                              <td class="govuk-table__cell govuk-table__cell--numeric">£184.13</td>
                                            </tr>
                                          </tbody>
                                      </table>
                                      </div>
                                    </details>
                                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">Estimated payments</h2>
                <div class="govuk-warning-text govuk-!-margin-bottom-2">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                      These payments may be subject to change, up to the point of issue
                  </strong>
                </div>
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    <div class="colleague-view-upcomming-payment-benefit">
                      <div class="gem-c-big-number govuk-!-margin-bottom-3">
                          <p class="gem-c-big-number__label">
                            The next Carer's Allowance payment is for
                          </p>
                          <span class="gem-c-big-number__value govuk-!-font-size-48">
                            £278.80
                          </span>
                          <span class="govuk-visually-hidden">&nbsp;</span>
                          <!--<p class="govuk-body govuk-!-margin-top-1">is on 30 June 2023</p>-->
                        </div>
                        <!--<details class="govuk-details" data-module="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              View payment breakdown
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            <h4 class="govuk-heading-m">Payment breakdown</h4>
                            <table class="govuk-table">
                              <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                  <th scope="col" class="govuk-table__header">Payment type</th>
                                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
                                </tr>
                              </thead>
                              <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell">Award</td>
                                  <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
                                </tr>
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell">Total deductions</td>
                                  <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
                                </tr>
                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__header">Total</th>
                                  <td class="govuk-table__cell govuk-table__cell--numeric">£184.13</td>
                                </tr>
                              </tbody>
                          </table>
                                  </div>
                                </details>-->
                              </div>
                </div>
                </div>
              </div>
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="payment-history">
          <h2 class="govuk-heading-l">Payment history</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-half">Benefit</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Due Date</th>
                    <th scope="col" class="govuk-table__header ">Status</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Award</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Deduction</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                    <td class="govuk-table__cell">01 August 2023</td>
                    <td class="govuk-table__cell">Issued</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£184.13</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                    <td class="govuk-table__cell">18 July 2023</td>
                    <td class="govuk-table__cell">Issued</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£184.13</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Carer Allowance</th>
                    <td class="govuk-table__cell">21 July 2023</td>
                    <td class="govuk-table__cell">Issued</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Personal Independence Payment</th>
                    <td class="govuk-table__cell">14 July 2023</td>
                    <td class="govuk-table__cell">Issued</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£559.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£80.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£479.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                    <td class="govuk-table__cell">04 July 2023</td>
                    <td class="govuk-table__cell">Issued</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£377.23</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£368.26</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                    <td class="govuk-table__cell">20 June 2023</td>
                    <td class="govuk-table__cell">Cancelled</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£184.13</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Carer Allowance</th>
                    <td class="govuk-table__cell">23 June 2023</td>
                    <td class="govuk-table__cell">Issued</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Personal Independence Payment</th>
                    <td class="govuk-table__cell">14 June 2023</td>
                    <td class="govuk-table__cell">Issued</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£559.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£80.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£479.80</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                    <td class="govuk-table__cell">06 June 2023</td>
                    <td class="govuk-table__cell">Issued</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Personal Independence Payment</th>
                    <td class="govuk-table__cell">12 May 2023</td>
                    <td class="govuk-table__cell">Issued</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£559.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£40.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£519.00</td>
                  </tr>
                </tbody>
              </table>

                    <nav class="moj-pagination" aria-label="Pagination navigation">
                      <!-- <ul class="moj-pagination__list">
                        <li class="moj-pagination__item  moj-pagination__item--prev">
                          <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
                        </li>

                        <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 30" aria-current="page">1</li>

                        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 30">2</a></li>

                        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 30">3</a></li>

                        <li class="moj-pagination__item moj-pagination__item--dots">…</li>

                        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5" aria-label="Page 5 of 30">5</a></li>

                        <li class="moj-pagination__item  moj-pagination__item--next">
                          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
                        </li>
                      </ul>-->
                      <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>10</b> results</p>
                    </nav>
        </div>
        <div class="govuk-tabs__panel" id="award-breakdown">
          <h2 class="govuk-heading-l">Breakdown of Awards</h2>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                  Personal Independence Payment (PIP)
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                              <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Benefit Name
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    Personal Independence Payment (PIP)
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Award Start Date
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    08 November 2020
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Award End Date
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    02 December 2023
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Award Type
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    Others
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Payment Frequency
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                  4 Weekly in Arrears by Direct Payment on Monday
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Award Amount
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <p class="govuk-body govuk-!-font-weight-bold">£559.00</p>
                                    <details class="govuk-details" data-module="govuk-details">
                                      <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                          View award breakdown
                                        </span>
                                      </summary>
                                      <div class="govuk-details__text">
                                        <table class="govuk-table">
                                          <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                              <th scope="col" class="govuk-table__header">Award Components</th>
                                              <th scope="col" class="govuk-table__header">Amount</th>
                                              <th scope="col" class="govuk-table__header">Start Date</th>
                                              <th scope="col" class="govuk-table__header">End Date</th>
                                            </tr>
                                          </thead>
                                          <tbody class="govuk-table__body">
                                            <tr class="govuk-table__row">
                                              <td class="govuk-table__cell">Daily Living Award</td>
                                              <td class="govuk-table__cell">£329.20</td>
                                              <td class="govuk-table__cell">08 November 2020</td>
                                              <td class="govuk-table__cell">02 December 2023</td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                              <td class="govuk-table__cell">Claimant Mobility Award</td>
                                              <td class="govuk-table__cell">£229.80</td>
                                              <td class="govuk-table__cell">08 November 2020</td>
                                              <td class="govuk-table__cell">02 December 2023</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                  </details>
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Deduction Amount
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <p class="govuk-body govuk-!-font-weight-bold">£80.00</p>
                                    <details class="govuk-details" data-module="govuk-details">
                                      <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                          View deduction breakdown
                                        </span>
                                      </summary>
                                      <div class="govuk-details__text">
                                        <table class="govuk-table">
                                          <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                              <th scope="col" class="govuk-table__header">Deduction Type</th>
                                              <th scope="col" class="govuk-table__header">Amount</th>
                                              <th scope="col" class="govuk-table__header">Start Date</th>
                                              <th scope="col" class="govuk-table__header">End Date</th>
                                            </tr>
                                          </thead>
                                          <tbody class="govuk-table__body">
                                            <tr class="govuk-table__row">
                                              <td class="govuk-table__cell">ESA (Income Related)</td>
                                              <td class="govuk-table__cell">£40.00</td>
                                              <td class="govuk-table__cell">11 May 2023</td>
                                              <td class="govuk-table__cell">10 May 2024</td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                              <td class="govuk-table__cell">Child Benefit</td>
                                              <td class="govuk-table__cell">£40.00</td>
                                              <td class="govuk-table__cell">15 July 2023</td>
                                              <td class="govuk-table__cell">08 December 2024</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </details> 
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Estimated Next Payment Amount
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    £479.00
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Last Payment Date
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    17 July 2023
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Last Payment Amount
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    £519.00
                                  </dd>
                                </div>
                              </dl>
                            </div>
                </div>
                <div class="govuk-accordion__section">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Employment and Support Allowance (ESA)
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                              <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Benefit Name
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    Employment and Support Allowance (ESA)
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Award Start Date
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    11 May 2023
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Award End Date
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    10 May 2024
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Award Type
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    ESA IR
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Payment Frequency
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    Every 2 week
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Award Amount
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <p class="govuk-body govuk-!-font-weight-bold">£193.10</p>
                                    <details class="govuk-details" data-module="govuk-details">
                                      <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                          View award breakdown
                                        </span>
                                      </summary>
                                      <div class="govuk-details__text">
                                        <table class="govuk-table">
                                          <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                              <th scope="col" class="govuk-table__header">Award Components</th>
                                              <th scope="col" class="govuk-table__header">Amount</th>
                                              <th scope="col" class="govuk-table__header">Start Date</th>
                                              <th scope="col" class="govuk-table__header">End Date</th>
                                            </tr>
                                          </thead>
                                          <tbody class="govuk-table__body">
                                            <tr class="govuk-table__row">
                                              <td class="govuk-table__cell">Personal Allowance</td>
                                              <td class="govuk-table__cell">£154.00</td>
                                              <td class="govuk-table__cell">11 May 2023</td>
                                              <td class="govuk-table__cell">10 May 2024</td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                              <td class="govuk-table__cell">Client Group Premium</td>
                                              <td class="govuk-table__cell">£39.10</td>
                                              <td class="govuk-table__cell">11 May 2023</td>
                                              <td class="govuk-table__cell">10 May 2024</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                  </details>
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Deduction Amount
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <p class="govuk-body govuk-!-font-weight-bold">£8.97</p>
                                    <details class="govuk-details" data-module="govuk-details">
                                      <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                          View deduction breakdown
                                        </span>
                                      </summary>
                                      <div class="govuk-details__text">
                                        <table class="govuk-table">
                                          <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                              <th scope="col" class="govuk-table__header">Deduction Type</th>
                                              <th scope="col" class="govuk-table__header">Amount</th>
                                              <th scope="col" class="govuk-table__header">Start Date</th>
                                              <th scope="col" class="govuk-table__header">End Date</th>
                                            </tr>
                                          </thead>
                                          <tbody class="govuk-table__body">
                                            <tr class="govuk-table__row">
                                              <td class="govuk-table__cell">Water/General Rates</td>
                                              <td class="govuk-table__cell">£8.97</td>
                                              <td class="govuk-table__cell">09 June 2023</td>
                                              <td class="govuk-table__cell">--</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                  </details>
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Estimated Next Payment Amount
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    £184.13
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Last Payment Date
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    01 August 2023
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Last Payment Amount
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    £184.13
                                  </dd>
                                </div>
                              </dl>
                            </div>
                </div>
                <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                  Carer's Allowance (CA)
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                              <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Benefit Name
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    Carer's Allowance (CA)
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Award Start Date
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    23 June 2023
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Award End Date
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    --
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Award Type
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    --
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Payment Frequency
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    Every 4 week
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Award Amount
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <p class="govuk-body govuk-!-font-weight-bold">£278.80</p>
                                    <details class="govuk-details" data-module="govuk-details">
                                      <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                          View award breakdown
                                        </span>
                                      </summary>
                                      <div class="govuk-details__text">
                                        <table class="govuk-table">
                                          <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                              <th scope="col" class="govuk-table__header">Award Components</th>
                                              <th scope="col" class="govuk-table__header">Amount</th>
                                              <th scope="col" class="govuk-table__header">Start Date</th>
                                              <th scope="col" class="govuk-table__header">End Date</th>
                                            </tr>
                                          </thead>
                                          <tbody class="govuk-table__body">
                                            <tr class="govuk-table__row">
                                              <td class="govuk-table__cell">Carer allowance</td>
                                              <td class="govuk-table__cell">£278.80</td>
                                              <td class="govuk-table__cell">23 June 2023</td>
                                              <td class="govuk-table__cell">--</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                  </details>
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Deduction Amount
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <p class="govuk-body govuk-!-font-weight-bold">£0.00</p>
                                    <!--<details class="govuk-details" data-module="govuk-details">
                                      <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                          View deduction breakdown
                                        </span>
                                      </summary>
                                      <div class="govuk-details__text">
                                        <table class="govuk-table">
                                          <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                              <th scope="col" class="govuk-table__header">Deduction Type</th>
                                              <th scope="col" class="govuk-table__header">Amount</th>
                                              <th scope="col" class="govuk-table__header">Start Date</th>
                                              <th scope="col" class="govuk-table__header">End Date</th>
                                            </tr>
                                          </thead>
                                          <tbody class="govuk-table__body">
                                            <tr class="govuk-table__row">
                                              <td class="govuk-table__cell">--</td>
                                              <td class="govuk-table__cell">--</td>
                                              <td class="govuk-table__cell">--</td>
                                              <td class="govuk-table__cell">--</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                  </details>-->
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Estimated Next Payment Amount
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    £278.80
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Last Payment Date
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    21 July 2023
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Last Payment Amount
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    £278.80
                                  </dd>
                                </div>
                              </dl>
                            </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
