{% extends "layout.html" %}

{% block pageTitle %}
Sorry, the service is unavailable
{% endblock %}

{% block header %}
  {% include "sprint22/common/header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "sprint22/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block footer %}
  {% include "sprint22/common/footer.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Sorry, the service is unavailable
    </h1>
    <p class="govuk-body">You will be able to use the service later.<p>
    <p class="govuk-body">
      <a class="govuk-link" href="#">Contact Helpline</a> XXXX (email address/phone number) if you need assistance.
    </p>

    <a href="#" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
      Start again
    </a>

  </div>

  <div class="govuk-grid-column-one-third">
  </div>

</div>

{% endblock %}
