{% extends "layout.html" %}

{% block pageTitle %}
  Home
{% endblock %}

{% block header %}
  {% include "sprint13/common/header-navigation_PersonalDetails-active.html" %}
    {% include "sprint13/common/keydetail-bar.html" %}
{% endblock %}


{% block footer %}
  {% include "sprint13/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="home-page.html">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">Personal details</a>
  </li>
</ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Personal details</h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current name
          </dt>
          <dd class="govuk-summary-list__value">
            Christopher Fox
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show Date of birth
                </span>
              </summary>
              <div class="govuk-details__text">
                15 October 1957
              </div>
            </details>
          </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['national-insurance-number'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show Nationality
                  </span>
                </summary>
                <div class="govuk-details__text">
                  British citizen
                </div>
              </details>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Awarded
            </dt>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Employment and Support Allowance (ESA)
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Award Start Date</th>
                        <th scope="col" class="govuk-table__header">Award End Date</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">20 January 2023</td>
                        <td class="govuk-table__cell">20 January 2024</td>
                      </tr>
                    </tbody>
                </table>
                </div>
              </details>
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Carer's Allowance (CA)
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Award Start Date</th>
                        <th scope="col" class="govuk-table__header">Award End Date</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">15 February 2023</td>
                        <td class="govuk-table__cell">16 August 2023</td>
                      </tr>
                    </tbody>
                </table>
                </div>
              </details>
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Personal Independence Payment (PIP)
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Award Start Date</th>
                        <th scope="col" class="govuk-table__header">Award End Date</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">01 December 2022</td>
                        <td class="govuk-table__cell">01 December 2023</td>
                      </tr>
                    </tbody>
                </table>
                </div>
              </details>
            </dd>
          </div>
        </dl>
      <h2 class="govuk-heading-m">Contact number</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile number
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show Mobile number
                </span>
              </summary>
              <div class="govuk-details__text">
                07968 657574
              </div>
            </details>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landline number
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show Landline number
                </span>
              </summary>
              <div class="govuk-details__text">
                07771 900 900
              </div>
            </details>
          </dd>
        </div>
        </dl>
        <h2 class="govuk-heading-m">Address</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence address
            </dt>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show Correspondence address
                  </span>
                </summary>
                <div class="govuk-details__text">
                  15 Greater London <br>London <br>SW1X 7HS
                </div>
              </details>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Residential address
            </dt>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show Residential address
                  </span>
                </summary>
                <div class="govuk-details__text">
                  1 London Road <br>London <br>LN 101
                </div>
              </details>
            </dd>
          </div>
        </dl>
    </div>
  </div>

{% endblock %}
