{% extends "layout.html" %}

{% block pageTitle %}
Call details about telephone call on Mon 10 August 2023
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/ur-10/common/header.html" %}
  {% include "/prototype-sprint-wise/ur-10/common/keydetail-bar.html" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-sprint-wise/ur-10/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
{% include "/prototype-sprint-wise/ur-10/common/phase-banner.html" %}
<!-- <div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="home-page.html">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">Contact history</a>
  </li>
</ol>
</div> -->
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Call details about telephone call on 05 September 2023</h1>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Call taken by
        </dt>
        <dd class="govuk-summary-list__value">
          Agent (1003)
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Who the call was with
        </dt>
        <dd class="govuk-summary-list__value">
          Jane Doe (Appointee)
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact type
        </dt>
        <dd class="govuk-summary-list__value">
          Incoming telephone call
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Length of call
        </dt>
        <dd class="govuk-summary-list__value">
          15 Minutes
        </dd>
      </div>
    </dl>
  </div>
</div>

{% endblock %}
