{% extends "layout.html" %} {% block pageTitle %} Start {% endblock %}{% block
beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Who is calling today?</h1>
    <form class="form" action="/benefit" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="person-identified"
                name="person-identified"
                type="radio"
                value="Christopher Featherstonehaugh"
              />
              <label class="govuk-label govuk-radios__label" for="nino">
                Christopher Fox</br>QQ 12 34 56 X
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="nobody-identified"
                name="person-identified"
                type="radio"
                value="Not listed above"
              />
              <label class="govuk-label govuk-radios__label" for="nino2">
                Not listed above
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
