{% extends "layout.html" %}

{% block pageTitle %}
  User reserach prototype:UR7
{% endblock %}

{% block beforeContent %}
  <!-- {% include "extra-scenarios/error-handling/common/phase-banner.html" %} -->
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">User research prototypes</span>
      <h1 class="govuk-heading-l">Round 2</h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-!-padding-6" style="background-color:#f3f2f1; border-radius:10px;">
            <span class="govuk-caption-m">April 2023</span>
            <h2 class="govuk-heading-m">Design option 1 </h2>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">This design has a table design for the 'Payments and awards' page.</p>
            <div class="govuk-!-margin-top-4">
              <a href="sprint13/opt1/index" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View option 1 prototype</a>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="govuk-!-padding-6" style="background-color:#f3f2f1; border-radius:10px;">
            <span class="govuk-caption-m">April 2023</span>
            <h2 class="govuk-heading-m">Design option 2 </h2>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">This design has a tile design for the 'Payments and awards' page.</p>
            <div class="govuk-!-margin-top-4">
              <a href="sprint13/opt2/index" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View option 2 prototype</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>


{% endblock %}
