{% extends "layout.html" %}

{% block pageTitle %}
  User reserach prototype:UR7
{% endblock %}

{% block beforeContent %}
  <!-- {% include "extra-scenarios/error-handling/common/phase-banner.html" %} -->
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">User research prototypes</span>
      <h1 class="govuk-heading-l">Round 4</h1>
      <div class="govuk-!-padding-bottom-3"><strong class="govuk-tag govuk-tag--purple">Sprint 19</strong> <strong class="govuk-tag">Completed</strong></div>
      <p>We had taken two prototypes (below displayed) to ur round 4 for A/B testing for payment amount and date query journey.</p>
      <p>The aims of this round are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Greater understanding of ESA telephony agent activities including, responding to payment queries and viewing the personal information of a customer. </li>
        <li>responde to future payment amount and date query</li>
      </ul>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-!-padding-6" style="background-color:#f3f2f1; border-radius:10px;">
            <span class="govuk-caption-m">June 2023</span>
            <h2 class="govuk-heading-m">Prototype option 1</h2>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- <p class="govuk-body">The aims of this round are:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Greater understanding of ESA telephony agent activities including, responding to payment queries and viewing the personal information of a customer. </li>
              <li>responde to future payment amount and date query</li>
            </ul> -->
            <div class="govuk-!-margin-top-4">
              <a href="prototype-sprint-wise/ur-4/opt1/index" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="govuk-!-padding-6" style="background-color:#f3f2f1; border-radius:10px;">
            <span class="govuk-caption-m">June 2023</span>
            <h2 class="govuk-heading-m">Prototype option 2</h2>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- <p class="govuk-body">The aims of this round are:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Greater understanding of ESA telephony agent activities including, responding to payment queries and viewing the personal information of a customer. </li>
              <li>responde to future payment amount and date query</li>
            </ul> -->
            <div class="govuk-!-margin-top-4">
              <a href="prototype-sprint-wise/ur-4/opt2/index" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
