{% extends "layout.html" %}

{% block pageTitle %}
  Tech error - prototype
{% endblock %}


{% block header %}
  {% include "extra-scenarios/error-handling/common/header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "extra-scenarios/error-handling/common/phase-banner.html" %}
  <a class="govuk-back-link" href="/#error-designs">Back</a>
{% endblock %}

{% block footer %}
  {% include "extra-scenarios/error-handling/common/footer.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Error handling scenarios</span>
    <h1 class="govuk-heading-l">Technical errors</h1>
    <!-- Failed API -->
    <div class="govuk-!-padding-6 govuk-!-margin-top-6" style="background-color:#f3f2f1; border-radius:10px;">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Failed API call</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Scenarios</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-table__header--numeric"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Problem with service - while service loading</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="Failed-API-call/Failed-API-call-1.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Problem with service - after user input</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="Failed-API-call/Failed-API-call-2.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Problem with service - Display message on internal page</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="Failed-API-call/internal-pages.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
     <!-- Success API call, No data available-->
    <div class="govuk-!-padding-6 govuk-!-margin-top-6" style="background-color:#f3f2f1; border-radius:10px;" id="successAPI-dataNotavailable">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Success API call, No data available</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Scenarios</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-table__header--numeric"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">No data available - Display message on internal page</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="Success-API-call-data-Not-Available/internal-pages.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      <!-- Service is unavailable -->     
      <div class="govuk-!-padding-6 govuk-!-margin-top-6" style="background-color:#f3f2f1; border-radius:10px;" id="service-unavailable">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Service is unavailable</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Status code</th>
              <th scope="col" class="govuk-table__header">Scenarios</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-table__header--numeric"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td rowspan="2" class="govuk-table__cell">503 - Service Unavailable</td>
              <td class="govuk-table__cell">Service is unavailable - General message</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Service-unavailable/service-unavailable-1.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
              <td class="govuk-table__cell">Service is unavailable - When you know when a service will be available</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Service-unavailable/service-unavailable-2.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td rowspan="3" class="govuk-table__cell">500 - Internal Server Error</td>
              <td class="govuk-table__cell">While service loading</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Failed-API-call/Failed-API-call-1.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">After user input (Use NINO and click 'Start now')</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Failed-API-call/Failed-API-call-2.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Inner pages</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Service-unavailable/inner-service-unavailable.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>

      <!-- Page not found -->
      <!-- <div class="govuk-!-padding-6 govuk-!-margin-top-6" style="background-color:#f3f2f1; border-radius:10px;" id="session-timeout">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Page not found</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Status code</th>
              <th scope="col" class="govuk-table__header">Scenarios</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-table__header--numeric"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td rowspan="2" class="govuk-table__cell">404 - Page/data not Found</td>
              <td class="govuk-table__cell">Page not found</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Page-not-found-404/page-not-found.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Data not found</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Page-not-found-404/data-not-found.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <!--  Invalid Credential and Permission denied scenarios -->
      <!-- <div class="govuk-!-padding-6 govuk-!-margin-top-6" style="background-color:#f3f2f1; border-radius:10px;" id="session-timeout">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m"> Invalid Credential and Permission denied</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Status code</th>
              <th scope="col" class="govuk-table__header">Scenarios</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-table__header--numeric"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td rowspan="2" class="govuk-table__cell">401 - Unauthorized</td>
              <td class="govuk-table__cell"> Invalid Credential</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Invalid-credential-Permission-denied/invalid-credential.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"> Permission denied</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Invalid-credential-Permission-denied/permission-denied.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <!--  Client error responses scenarios -->
      <div class="govuk-!-padding-6 govuk-!-margin-top-6" style="background-color:#f3f2f1; border-radius:10px;" id="session-timeout">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Status codes and error responses</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Status code</th>
              <th scope="col" class="govuk-table__header">Scenarios</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-table__header--numeric"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td rowspan="2" class="govuk-table__cell">400 - Bad Request</td>
              <td class="govuk-table__cell">Bad Request</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="status-code-error-responses/400-bad-request.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Bad Request - Inner page</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="status-code-error-responses/400-bad-request-inner-page.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">401 - Unauthorized</td>
              <td class="govuk-table__cell"> Invalid Credential</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Invalid-credential-Permission-denied/invalid-credential.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">403 - Forbidden</td>
              <td class="govuk-table__cell">You do not have permission to view this data</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Invalid-credential-Permission-denied/403-Forbidden.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td rowspan="2" class="govuk-table__cell">404 - Page not Found</td>
              <td class="govuk-table__cell">Page not found</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Page-not-found-404/page-not-found.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Data not found</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Page-not-found-404/data-not-found.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">422 - Unprocessable Content</td>
              <td class="govuk-table__cell">Unprocessable Content</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="status-code-error-responses/422-unprocessable-content.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">429 - API rate limit exceeded</td>
              <td class="govuk-table__cell">API rate limit exceeded</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="status-code-error-responses/429-API-rate-limit-exceeded.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"> Invalid credential</td>
              <td class="govuk-table__cell"> Permission denied</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Invalid-credential-Permission-denied/permission-denied.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Session Time-out -->     
      <div class="govuk-!-padding-6 govuk-!-margin-top-6" style="background-color:#f3f2f1; border-radius:10px;" id="service-unavailable">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Session Time-out</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Scenarios</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-table__header--numeric"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Session time-out - A timeout warning</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Session-time-out/service-unavailable-2.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
              <td class="govuk-table__cell">Session time-out - You have been signed out</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="Session-time-out/service-timeout-1.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">view prototype</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

{% endblock %}
