{% extends "layout.html" %}

{% block pageTitle %}
  Sorry, the service is unavailable
{% endblock %}

{% block header %}
  {% include "extra-scenarios/error-handling/common/session-timeout-dialogue-2.html" %}
  {% include "extra-scenarios/error-handling/common/header.html" %}

{% endblock %}

{% block beforeContent %}
{% include "extra-scenarios/error-handling/common/phase-banner.html" %}
{% endblock %}

{% block footer %}
  {% include "extra-scenarios/error-handling/common/footer.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
    <p class="govuk-body">
      You will be able to use the service on Monday 15 May 2023.
    </p>
    <p class="govuk-body">
          <a class="govuk-link" href="#">Contact Helpline</a> XXXX (email address/phone number) if you need assistance.
        </p>
  </div>

  <div class="govuk-grid-column-one-third govuk-visually-hidden">
    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Subsection
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="#">
              Related link
            </a>
          </li>
          <li>
            <a class="govuk-link" href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#" class="govuk-link govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
